<%
  options = @gbif_taxa_with_edna_map.map { |t| [t['ncbi_name'], t['ncbi_id']] }

  taxon_rank = params[:taxon_rank] || 'phylum'
  ncbi_id = params[:ncbi_id] || @gbif_taxa_with_edna_map.first['ncbi_id']
  gbif_id = params[:gbif_id] || @gbif_taxa_with_edna_map.first['gbif_id']

    def base_url
    '/research_projects/pillar-point?section=common_taxa'
  end
%>

<ul class="nav nav-pills">
  <% ['phylum', 'class', 'order', 'family', 'genus', 'species'].each do |rank| %>
    <li class=<%= 'active' if rank == taxon_rank %>><a href="<%= base_url %>&taxon_rank=<%= rank %>">
      <%= rank %>
    </a></li>
  <% end %>
</ul><br>


<div class="row">
  <div class="col-sm-4">
    <ol>
      <% @gbif_taxa_with_edna_map.each do |taxon| %>
        <li>
          <%= link_to CombineTaxonHelper.taxon_string(taxon),
            "#{base_url}&taxon_rank=#{taxon_rank}" \
            "&taxon=#{CombineTaxonHelper.target_taxon(taxon)}"
          %>
          <br><%= CombineTaxonHelper.vernaculars(taxon) %>
        </li>
      <% end %>
    </ol>
  </div>

  <div class="col-sm-8">
     <h2>Taxon: <%= @taxon if @taxon %> </h2>
    <div id="mapid"></div>
    Areas of interest
    <ul>
      <li>red: Pillar Point State Marine Conservation Area (SMCA)</li>
      <li>blue: unprotected tidal pools</li>
      <li>orange: unprotected embayment</li>
    </ul>

    Markers
    <ul>
      <li>pin icons: eDNA sites</li>
      <li>circles: GBIF occurrences</li>
    </ul>

  </div>
</div>

<%= javascript_pack_tag 'pp_common_taxa_map' %>
