<style>
#taxonomic-diversity-chart-cal, #taxonomic-diversity-chart-gbif {
  margin-left: -340px;
}
</style>

<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
  <i class="fas fa-sliders-h"></i> Filters
</button>

<form class="area-diversity collapse" id="collapseFilters">
  <div class="row">
    <div class="col-sm-6">
      <%= render partial: "shared/filters_taxa_divisions" %>
    </div>

    <div class="col-sm-6">
      <fieldset>
        <legend>Taxa rank</legend>
        <div class="radio">
          <label for="phylum">
            <input type="radio" name="taxon_rank" id="phylum" value="phylum" checked>
            phylum
          </label>
        </div>
        <% ['class', 'order', 'family', 'genus', 'species'].each do |rank| %>
          <div class="radio">
            <label for="<%= rank %>">
              <input type="radio" name="taxon_rank" id="<%= rank %>" value="<%= rank %>">
              <%= rank %>
            </label>
          </div>
        <% end %>
      </fieldset>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Apply filters</button>
  <button class="btn btn-primary js-reset-filters">Reset filters</button>
</form>

<div class="row">
  <div class="col-sm-6">
    <h2>eDNA</h2>
    <div id="taxonomic-diversity-chart-cal"></div>
  </div>
  <div class="col-sm-6">
    <h2>GBIF</h2>
    <div id="taxonomic-diversity-table-gbif"></div>
    <div id="taxonomic-diversity-chart-gbif"></div>
  </div>
</div>



<%= javascript_pack_tag 'pp_detection_frequency' %>
