<%= javascript_pack_tag 'pp_bar_charts' %>
<style>
  canvas {
    margin-bottom: 2rem;
  }
</style>


<div class="row">
  <div class="col-sm-6">
    <h3>All GBIF Occurrences</h3>
    <%= render partial: "research_projects/pillar_point/occurrence_table",
      locals: {
        occurrence_stats: PillarPointHelper.gbif_counts(@gbif_breakdown[:all]),
        total: PillarPointHelper.total(@gbif_breakdown[:all].values)
      } %>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3>iNaturalist Observations</h3>
    <canvas id="only-inat-chart" width="400" height="400"></canvas>

    <%= render partial: "research_projects/pillar_point/occurrence_table",
      locals: {
        occurrence_stats: PillarPointHelper.gbif_counts(@gbif_breakdown[:inat_only]),
        total: PillarPointHelper.total(@gbif_breakdown[:inat_only].values)
      } %>
  </div>

  <div class="col-sm-6">
    <h3>Exclude iNaturalist Observations</h3>
    <canvas id="exclude-inat-chart" width="400" height="400"></canvas>

    <%= render partial: "research_projects/pillar_point/occurrence_table",
      locals: {
        occurrence_stats: PillarPointHelper.gbif_counts(@gbif_breakdown[:exclude_inat]),
        total: PillarPointHelper.total(@gbif_breakdown[:exclude_inat].values)
      } %>
  </div>
</div>

<script>
(function(){

  window.caledna = {
    only_inat_data: <%= @gbif_breakdown[:inat_only].to_json.html_safe %>,
    exclude_inat_data: <%= @gbif_breakdown[:exclude_inat].to_json.html_safe %>
  }

})(window)
</script>
