<%= javascript_pack_tag 'pp_bar_charts' %>
<style>
  canvas {
    margin-bottom: 2rem;
  }
</style>

<div class="row">
  <div class="col-sm-6">
    <h3>iNaturalist Occurrences</h3>
    <canvas id="only-inat-occurrences-chart" width="400" height="400"></canvas>

    <%= render partial: "research_projects/pillar_point/occurrence_table",
      locals: {
        occurrence_stats: PillarPointHelper.gbif_counts(@gbif_breakdown[:inat_only_occurrences]),
        total: PillarPointHelper.total(@gbif_breakdown[:inat_only_occurrences].values)
      } %>
  </div>

  <div class="col-sm-6">
    <h3>Exclude iNaturalist Occurrences</h3>
    <canvas id="exclude-inat-occurrences-chart" width="400" height="400"></canvas>

    <%= render partial: "research_projects/pillar_point/occurrence_table",
      locals: {
        occurrence_stats: PillarPointHelper.gbif_counts(@gbif_breakdown[:exclude_inat_occurrences]),
        total: PillarPointHelper.total(@gbif_breakdown[:exclude_inat_occurrences].values)
      } %>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3>iNaturalist Unique Species</h3>
    <canvas id="only-inat-unique-chart" width="400" height="400"></canvas>

    <%= render partial: "research_projects/pillar_point/occurrence_table",
      locals: {
        occurrence_stats: PillarPointHelper.gbif_counts(@gbif_breakdown[:inat_only_unique]),
        total: PillarPointHelper.total(@gbif_breakdown[:inat_only_unique].values)
      } %>
  </div>

  <div class="col-sm-6">
    <h3>Exclude iNaturalist Unique Species</h3>
    <canvas id="exclude-inat-unique-chart" width="400" height="400"></canvas>

    <%= render partial: "research_projects/pillar_point/occurrence_table",
      locals: {
        occurrence_stats: PillarPointHelper.gbif_counts(@gbif_breakdown[:exclude_inat_unique]),
        total: PillarPointHelper.total(@gbif_breakdown[:exclude_inat_unique].values)
      } %>
  </div>
</div>

<script>
(function(){

  window.caledna = {
    only_inat_unique_data: <%= PillarPointHelper.gbif_counts(@gbif_breakdown[:inat_only_unique]).to_json.html_safe %>,
    exclude_inat_unique_data: <%= PillarPointHelper.gbif_counts(@gbif_breakdown[:exclude_inat_unique]).to_json.html_safe %>,
    only_inat_occurrences_data: <%= PillarPointHelper.gbif_counts(@gbif_breakdown[:inat_only_occurrences]).to_json.html_safe %>,
    exclude_inat_occurrences_data: <%= PillarPointHelper.gbif_counts(@gbif_breakdown[:exclude_inat_occurrences]).to_json.html_safe %>,
  }

})(window)
</script>
