<h1>Biotic Interactions</h1>

<% if @interactions %>
  <div class="row interaction-target">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-body globi-target-taxon">
          <h3><%= @globi_target_taxon['taxon_name'] %></h3>
          <p class="lineage"><%= @globi_target_taxon['taxon_path'].gsub(';', ', ') if @globi_target_taxon['taxon_path'] %></p>
          eDNA match <%= sanitize PillarPointHelper.check_or_x(@globi_target_taxon['edna_match']) %><br>
          GBIF match  <%= sanitize PillarPointHelper.check_or_x(@globi_target_taxon['gbif_match']) %>
        </div>
      </div>
    </div>
  </div>

  <div class="interaction-list row">
    <% @interactions.each.with_index do |interaction, i| %>
      <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <% if interaction['is_source'] == 'false' %>
              <p>
                <%= interaction['interaction_type'].underscore.humanize.downcase %>
                <a data-container="body"
                  data-toggle="popover" data-placement="top"
                  data-html="true"
                  data-content="<p><%= PillarPointHelper.taxon_path(interaction['target_taxon_path']) %></p><p><%= PillarPointHelper.taxon_ids(interaction['target_taxon_ids']) %></p>"
                ><%= interaction['target_taxon_name'] %></a>
                <br>
                <span class="lineage">rank: <%= interaction['target_taxon_rank'] %></span>
              </p>
              eDNA match <%= sanitize PillarPointHelper.check_or_x(interaction['edna_match']) %><br>
              GBIF match <%= sanitize PillarPointHelper.check_or_x(interaction['gbif_match']) %>
            <% else %>
              <p>
                <%= InteractionType::TYPES[interaction['interaction_type'].to_sym].underscore.humanize.downcase %>
                <a data-container="body"
                  data-toggle="popover" data-placement="top"
                  data-html="true"
                  data-content="<p><%= PillarPointHelper.taxon_path(interaction['source_taxon_path']) %></p><p><%= PillarPointHelper.taxon_ids(interaction['source_taxon_ids']) %></p>"
                ><%= interaction['source_taxon_name'] %></a>
                <br>
                <span class="lineage">rank: <%= interaction['source_taxon_rank'] %></span>
              </p>
              eDNA match <%= sanitize PillarPointHelper.check_or_x(interaction['edna_match']) %><br>
              GBIF match <%= sanitize PillarPointHelper.check_or_x(interaction['gbif_match']) %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<% else %>
  <div class="interaction-index-list row">
    <% @taxon_list.each do |taxon| %>
      <div class="col-md-3 col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <a href="/research_projects/pillar-point?section=interactions&taxon=<%= taxon['taxon_name'].gsub(' ','+')%>">
              <div class="grid-photo" style="background-image: url(<%= taxon['image']%>)"></div>
              <div class="grid-meta">
                <%= taxon['taxon_name'] %><br>
                <span class="small"><%= taxon['count'] %> iNaturalist observations</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @taxon_list %>
<% end %>
<script>
    $('[data-toggle="popover"]').popover();

</script>
