<table class="table">
  <tr>
    <th>Occurrence</th>
    <th>Latitude/Longitude; GPS Precision</th>
    <th>Organisms</th>
  </tr>

  <% @occurrences.each do |occurrence| %>
    <% if occurrence.is_a?(Sample)%>
    <tr class="clickable_row" data-path="<%= sample_path(occurrence) %>">
      <td><%= link_to occurrence.barcode, sample_path(occurrence) %></td>
      <td>
        <%= occurrence.latitude %>, <%= occurrence.longitude %>; <%= occurrence.gps_precision %>
      </td>
      <td><%= SamplesHelper.asvs_count(asvs_count, occurrence) %></td>
    </tr>
    <% else %>
      <tr>
        <td><a href="https://www.gbif.org/occurrence/<%= occurrence.id %>"><%= occurrence.id %></a></td>
        <td>
          <%= occurrence.decimallatitude %>, <%= occurrence.decimallongitude %>
        </td>
        <td>
          <%= occurrence.kingdom %>,
          <%= occurrence.phylum %>,
          <%= occurrence.classname %>,
          <%= occurrence.order %>,
          <%= occurrence.family %>,
          <%= occurrence.genus %>,
          <%= occurrence.scientificname %>,
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= paginate @occurrences %>

<script>
(function(){

  // ======================
  // select elements
  // ======================

  var sourceEls = document.querySelectorAll('.js-source-list')
  sourceEls.forEach(function(el){
    el.addEventListener('click', chooseSourceHandler)
  })
  // ======================
  // click handlers
  // ======================

  function chooseSourceHandler(e) {
    source = e.target.dataset.source

    var location = window.location
    if (source == 'cal') {
      location.href = location.origin + location.pathname + '?view=list'
    } else if (source == 'gbif') {
      location.href = location.origin + location.pathname + '?view=list&source=gbif'
    }
  }

})()
</script>
