<%
  cal_total = PillarPointHelper.total(@division_counts[:cal].values)
  cal_unique_total = PillarPointHelper.total(@division_counts_unique[:cal].values)

  gbif_total = PillarPointHelper.total(@division_counts[:gbif].values)
  gbif_unique_total = PillarPointHelper.total(@division_counts_unique[:gbif].values)
%>

<div class="row">
  <div class="col-sm-6">
    <h2>CALeDNA</h2>
    <h3>Total ASVS</h3>
    <table class="table">
      <tr>
        <th>divisions</th>
        <th>count</th>
        <th>percent</th>
      </tr>
      <% PillarPointHelper.cal_counts(@division_counts[:cal]).each do |name, count| %>
      <tr>
        <td><%= name %></td>
        <td><%= count %></td>
        <td><%= percentage(count, cal_total)%></td>
      </tr>
      <% end %>
      <tr>
        <td>Total</td>
        <td><%= cal_total %></td>
        <td></td>
      </tr>
    </table>

    <h3>Unique Organism</h3>
    <table class="table">
      <tr>
        <th>divisions</th>
        <th>count</th>
        <th>percent</th>
      </tr>
      <% PillarPointHelper.cal_counts(@division_counts_unique[:cal]).each do |name, count| %>
      <tr>
        <td><%= name %></td>
        <td><%= count %></td>
        <td><%= percentage(count, cal_unique_total)%></td>
      </tr>
      <% end %>
      <tr>
        <td>Total</td>
        <td><%= cal_unique_total %></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="col-sm-6">

    <h2>GBIF</h2>
    <h3>Total Occurrences</h3>
    <table class="table">
      <tr>
        <th>kingdom</th>
        <th>count</th>
        <th>percent</th>
      </tr>
      <% PillarPointHelper.gbif_counts(@division_counts[:gbif]).each do |name, count| %>
      <tr>
        <td><%= name %></td>
        <td><%= count %></td>
        <td><%= percentage(count, gbif_total)%></td>
      </tr>
      <% end %>
      <tr>
        <td>Total</td>
        <td><%= gbif_total %></td>
        <td></td>
      </tr>
    </table>

    <h3>Unique Species</h3>
    <table class="table">
      <tr>
        <th>kingdom</th>
        <th>count</th>
        <th>percent</th>
      </tr>
      <% PillarPointHelper.gbif_counts(@division_counts_unique[:gbif]).each do |name, count| %>
      <tr>
        <td><%= name %></td>
        <td><%= count %></td>
        <td><%= percentage(count, gbif_unique_total)%></td>
      </tr>
      <% end %>
      <tr>
        <td>Total</td>
        <td><%= gbif_unique_total %></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
