
<% gbif_source = params[:source] == 'gbif' %>
<% list_view = params[:view] == 'list' %>

<h2>Sites/Observations</h2>
<% if params[:view] == 'list' %>
  <div class="radio">
    <label>
      <input type="radio" name="source" class="js-source-list" data-source="cal" <%= 'checked' unless gbif_source %>> CALeDNA
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="source" class="js-source-list" data-source="gbif" <%= 'checked' if gbif_source %>> GBIF
    </label>
  </div>
<% else %>
  <div class="checkbox">
    <label>
      <input type="checkbox" class="js-source" data-source="cal" checked=> CALeDNA
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" class="js-source" data-source="gbif" checked> GBIF
    </label>
  </div>
<% end %>

<div class="samples-menu">
  <div class="btn-group" role="group" >
    <a href="<%= research_project_page_path(research_project_id: params[:research_project_id], id: params[:id]) %>"
      class="<%= pill_menu_classes(!list_view) %>">
      <i class="fas fa-map-marker-alt"></i> Map
    </a>
    <a href="<%= research_project_page_path(research_project_id: params[:research_project_id], id: params[:id], view: :list) %>"
      class="<%= pill_menu_classes(list_view) %>">
      <i class="far fa-list-alt"></i> List
    </a>
  </div>
</div>
