<div class="col-md-8 col-md-offset-2">
  <h1>Share your LA River story</h1>

  <% if current_user || params[:guest] == 'true' %>
    <p>Please submit your LA River story using this form. We will review each
    submission and email you before we publish your work on the site.</p>

    <%= simple_form_for @submission, url: user_submissions_path(guest: params[:guest])  do |form| %>
      <%= form.input :title,
        placeholder: 'The title of your submission.' %>
      <%= form.input :content, :input_html => {rows: 6}, label: 'Description',
        placeholder: 'A short description of your submission.' %>

      <div>If you are submitting multimedia content, we offer two options:</div>
      <ol>
        <li>Upload an image. We accept jpg, jpeg, and png under 10 MB.</li>
        <li>Submit a link to your multimedia content (YouTube, Instagram, etc).  </li>
      </ol>

      <%= form.input :image, as: :file, label: 'Upload image (max size 10 MB)' %>

      <%= form.input :media_url,
        placeholder: 'Media URL (e,g., https://www.instagram.com/p/xxx).' %>

      <h3>Information about you</h3>
      <% unless current_user %>
        <p>We will email you after we review your submission. Your email will not be
        displayed on the site.</p>
        <%= form.input :email, label: '* Email' %>
      <% end %>
      <%= form.input :user_display_name, label: 'Display name',
        placeholder: 'The name that you want displayed on our site.'  %>
      <%= form.input :user_bio, :input_html => {rows: 6},
        placeholder: 'A short bio about yourself.' %>
      <%= form.input :facebook %>
      <%= form.input :instagram %>
      <%= form.input :twitter %>
      <%= form.input :website %>

      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  <% else %>
    <div>
      <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary' %>
      <%= link_to 'Continue as Guest', new_river_story_path(guest: true), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
