<%
  taxon_rank = params[:taxon_rank] || 'phylum'

  def ncbi_id(taxon)
    res = @gbif_taxa.to_a.select { |t| t['gbif_id'] == taxon['gbif_id'] }.first
    res['ncbi_id'] if res
  end

  def has_edna?(taxon)
    res = @gbif_taxa_with_edna.to_a.select { |t| t['gbif_id'] == taxon['gbif_id'] }.first
  end

  def taxon_string(taxon)
    [
      taxon['kingdom'], taxon['phylum'], taxon['classname'], taxon['order'],
      taxon['family'], taxon['genus'], taxon['species']
    ].compact.join(', ')
  end

  def ncbi_taxon_string(taxon)
    return if taxon['lineage'].nil?

    taxon['lineage'][1..-2].gsub(/["]/, '').split('},{')
      .map{ |l| l.gsub(/[{}]/, '') }
      .map { |l| l.split(',')[1] }
      .join(', ')
  end

  def with_ncbi_count
    @gbif_taxa.select do |taxon|
      taxon['ncbi_id'].present?
    end.count
  end

  def with_edna_count
    @gbif_taxa_with_edna.count
  end

  def base_url
    '/beta/ebbe_nielsen?section=edna_gbif_comparison'
  end
%>



<h2>Comparions of GBIF Occurences with eDNA Results</h2>
<ul class="nav nav-pills">
  <% ['phylum', 'class', 'order', 'family', 'genus', 'species'].each do |rank| %>
    <li class=<%= 'active' if rank == taxon_rank %>><a href="<%= base_url %>&taxon_rank=<%= rank %>">
      <%= rank %>
    </a></li>
  <% end %>
</ul><br>

<p>GBIF unique <%= taxon_rank %>: <%= @gbif_taxa.count %></p>
<p>GBIF unique <%= taxon_rank %> with NCBI ID: <%= with_ncbi_count %></p>
<p>GBIF unique <%= taxon_rank %> with eDNA match: <%= with_edna_count %></p>

<table class="table">
  <tr>
    <th><a href="<%= base_url %>&taxon_rank=<%= taxon_rank %>&sort=taxon">Taxon</a></th>
    <th><a href="<%= base_url %>&taxon_rank=<%= taxon_rank %>&sort=count">GBIF Occurences</a></th>
    <th>NCBI Match</th>
    <th>eDNA Match</th>
  </tr>
<% @gbif_taxa.each do |taxon| %>
  <tr>
    <td>
      <b>GBIF</b>
      <p><%= taxon_string(taxon) %></p>
      <p>GBIF ID: <%= link_to taxon['gbif_id'], "http://gbif.org/species/#{taxon['gbif_id']}" %></p>

      <%  if taxon['lineage'] %>
        <b>NCBI</b>
        <p><%= ncbi_taxon_string(taxon) %></p>
        <p><%= "rank: #{taxon['ncbi_rank']}" %></p>
        <p>
          NCBI ID: <%= link_to ncbi_id(taxon), "https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=#{taxon['ncbi_id']}&lvl=3" %>,
          <%= link_to 'CALeDNA page', taxon_path(id: taxon['ncbi_id'])%>
        </p>
      <% end %>
    </td>
    <td><%= taxon['count'] %></td>
    <td>
      <%= sanitize EbbeNielsenHelper.check_or_x(ncbi_id(taxon)) %>
    </td>
    <td>
      <%= sanitize EbbeNielsenHelper.check_or_x( has_edna?(taxon)) %>
    </td>
  </tr>
<% end %>
</table>
