<%= javascript_pack_tag 'ebbe_nielsen/pp_charts' %>
<style>
  canvas {
    margin-bottom: 2rem;
  }
</style>

<div class="row">
  <div class="col-sm-6">
    <h2>CALeDNA</h2>

    <h3>Total ASVS</h3>
    <canvas id="cal-total-chart" width="400" height="400"></canvas>

    <%= render partial: "beta/ebbe_nielsen/occurrence_table",
      locals: {
        occurrence_stats: EbbeNielsenHelper.cal_counts(@division_counts[:cal]),
        total:  EbbeNielsenHelper.total(@division_counts[:cal].values)
      } %>

    <h3>Unique Organism</h3>
    <canvas id="cal-unique-chart" width="400" height="400"></canvas>

    <%= render partial: "beta/ebbe_nielsen/occurrence_table",
      locals: {
        occurrence_stats: EbbeNielsenHelper.cal_counts(@division_counts_unique[:cal]),
        total: EbbeNielsenHelper.total(@division_counts_unique[:cal].values)
      } %>
  </div>

  <div class="col-sm-6">
    <h2>GBIF</h2>

    <h3>Total Occurrences</h3>
    <canvas id="gbif-total-chart" width="400" height="400"></canvas>

    <%= render partial: "beta/ebbe_nielsen/occurrence_table",
      locals: {
        occurrence_stats: EbbeNielsenHelper.gbif_counts(@division_counts[:gbif]),
        total: EbbeNielsenHelper.total(@division_counts[:gbif].values)
      } %>

    <h3>Unique Species</h3>
    <canvas id="gbif-unique-chart" width="400" height="400"></canvas>

    <%= render partial: "beta/ebbe_nielsen/occurrence_table",
      locals: {
        occurrence_stats: EbbeNielsenHelper.gbif_counts(@division_counts_unique[:gbif]),
        total: EbbeNielsenHelper.total(@division_counts_unique[:gbif].values)
      } %>
  </div>
</div>

<script>
(function(){

  window.caledna = {
    cal_division_total: <%= @division_counts[:cal].to_json.html_safe %>,
    cal_division_unique: <%= @division_counts_unique[:cal].to_json.html_safe %>,
    gbif_division_total: <%= @division_counts[:gbif].to_json.html_safe %>,
    gbif_division_unique: <%= @division_counts_unique[:gbif].to_json.html_safe %>
  }

})(window)
</script>
