<% content_for :page_id do %>profile<% end %>

<h1><%= @user.username %></h1>

<h2>My Upcoming Events</h2>
<% if @user.events.count > 0 %>
  <ol>
    <% @user.events.upcoming.each do |event| %>
      <li>
        <%= link_to event.name, event_path(event) %>,
        (<%= long_datetime(event.start_date) %>) <%= event.location %>
      </li>
    <% end %>
  </ol>
<% else %>
  <%= link_to 'Sign up for your first bioblitz.', events_path %>
<% end %>


<% if @user.events.past.count > 0 %>
<h2>My Past Events</h2>
<ol>
  <% @user.events.past.each do |event| %>
    <li>
      <%= link_to event.name, event_path(event) %>,
      <span class="meta">(<%= long_datetime(event.start_date) %>)</span> <%= event.location %>
    </li>
  <% end %>
</ol>
<% end %>

<h2>My Training Quizzes</h2>
<% if @user.survey_responses.count > 0 %>
  <ol>
    <% @user.survey_responses.each do |response| %>
      <li>
        <%= fa_icon('star', style: 'color: green') if response.passing_score? %>
        <%= link_to response.survey.name, survey_survey_response_path(survey_id: response.survey.slug, id: response.id) %>:
        <%= response.total_score %> out of <%= response.survey.survey_questions.count %>
        <span class="meta">(<%= long_date(response.created_at) %>)</span>
      </li>
    <% end %>
  </ol>
<% else %>
  <a href="http://www.ucedna.com/become-a-community-scientist/">Become a community scientist.</a>
<% end %>
