<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="pswp__bg"></div>

  <div class="pswp__scroll-wrap">
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>

    <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <div class="pswp__counter"></div>
          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
          <button class="pswp__button pswp__button--share" title="Share"></button>
          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>

        </div>

        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>

        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
        </button>
        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
        </button>

        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>

    </div>
  </div>
</div>

<% if kobo_photos.first.photo.attachment.present? %>
  <%= image_tag kobo_photos.first.photo, width: '100%', class: "gallery-initial-photo" %>
<% else %>
  <%= image_tag 'blank_photo.svg' %>
<% end %>

<% if kobo_photos.first.photo.attachment %>
  <script>
    (function(){
      var openPhotoSwipe = function() {
      var pswpElement = document.querySelectorAll('.pswp')[0];

      var items = [
        <% kobo_photos.each do |kobo_photo| %>
          {
            src: "<%= url_for(kobo_photo.photo) %>",
            w: <%= kobo_photo.width %>,
            h: <%= kobo_photo.height %>
          },
        <% end %>
      ]

        var options = {
            index: 0
        };

        var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
        gallery.init();
      };

      var el = document.querySelector('.gallery-initial-photo');
      el.addEventListener('click', openPhotoSwipe)

    }());
  </script>
<% end %>
