<table class="table">
  <tr>
    <th>Bar Code</th>
    <th>Project</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Status</th>
  </tr>

  <% samples.each do |sample| %>
    <tr class="clickable_row" data-path="<%= sample_path(sample) %>">
      <td><%= link_to sample.bar_code, sample_path(sample) %></td>
      <td ><%= link_to sample.field_data_project.name,  field_data_project_path(sample.field_data_project) %></td>
      <td><%= sample.latitude %> </td>
      <td><%= sample.longitude %></td>
      <td><%= sample.status_display %></td>
    </tr>
  <% end %>
</table>

<%= paginate samples %>
