<div id='mapid'></div>

<script>
(function(){

  var addressPoints = [
  <% samples.each do |sample|  %>
    [
      <%= sample.latitude %>,
      <%= sample.longitude %>,
      <%= sample.id %>,
      "<%= sample.barcode %>",
      '<%= link_to sample.field_data_project_name,  field_data_project_path(id: sample.field_data_project_id) %>',
      '<%= link_to sample.barcode, sample_path(id: sample.id) %>',
      '<%= sample.status %>',
      '<%= SamplesHelper.asvs_count(asvs_count, sample) %>'
    ],
  <% end %>
  ]

  var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 18,
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Points &copy 2012 LINZ'
    });

  var initialLat = <%= initial_lat || 38.0 %>
  var initialLng =  <%= initial_lng || -118.3 %>
  var latlng = L.latLng(initialLat, initialLng);
  var map = L.map('mapid', {center: latlng, zoom: <%= params[:zoom] || 6 %>, layers: [tiles]});

  var markers = L.markerClusterGroup({ disableClusteringAtZoom: 17 });

  for (var i = 0; i < addressPoints.length; i++) {
    var a = addressPoints[i];
    var lat = a[0];
    var lng = a[1];
    var id = a[2];
    var barcode = a[3];
    var projectName = a[4];
    var sampleLink = a[5];
    var status = a[6];
    var asvsCount = a[7];
    var body =
      '<b>Sample:</b> ' + sampleLink + '<br>' +
      '<b>Project:</b> ' + projectName + '<br>' +
      '<b>Lat/Long</b>: ' + lat + ', ' + lng + '<br>' +
      '<b>Status</b>: ' + status + '<br>' +
      '<b>Organism count</b>: ' + asvsCount + '<br>';
    var marker = L.marker(L.latLng(lat, lng), { title: 'Sample ' + barcode });
    marker.bindPopup(body);
    markers.addLayer(marker);
  }

  map.addLayer(markers);

})()
</script>
