<% sample.extractions.each do |extraction| %>
  <h2><%= SamplesHelper.asvs_count(asvs_count, sample) %> Organisms from ASVs</h2>
  <% if sample.extractions.length > 1%>
    <h3><%= extraction.extraction_type.name %></h3>
  <% end %>
  <ul>
  <% extraction.sorted_taxa.each do |taxon| %>
    <li>
      <%= taxon.ncbi_division.name %>
      <%= taxon.taxonRank %>:
      <% if false #taxon.threatened? %>
        (Name not shown because this species is <%= taxon.conservation_status %>)
      <% else %>
        <%= link_to taxon.taxonomy_string, taxon_path(taxon) %>
        <%= taxon.batch_common_names(batch_vernaculars) %>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>
