<table class="table">
  <tr>
    <td>Project</td>
    <td><%= link_to sample.field_data_project.name, field_data_project_path(sample.field_data_project) %></td>
  </tr>
  <tr>
    <td>Barcode</td>
    <td><%= sample.barcode %></td>
  </tr>
  <tr>
    <td>Lat/Long</td>
    <td>
      <%= sample.latitude %>, <%= sample.longitude %>
    </td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= sample.status_display %></td>
  </tr>
  <tr>
    <td>Collection Date</td>
    <td><%= long_date(sample.submission_date) %></td>
  </tr>

  <% sample.extractions.each do |extraction| %>
   <% if sample.extractions.length > 1%>
      <tr>
        <td><b><%= extraction.extraction_type.name %></b></td>
        <td></td>
      </tr>
    <% end %>
    <tr>
      <td>Analysis Date</td>
      <td><%= long_date(extraction.stat_dna_extraction_date) %></td>
    </tr>
    <tr>
      <td>DNA Results Completed Date</td>
      <td><%= long_date(extraction.stat_dna_extraction_date) %></td>
    </tr>
    <tr>
      <td>Organisms from ASV</td>
      <td>
        <ul>
        <% extraction.asvs.each do |asv| %>
          <li>
            <%= asv.taxon.taxonRank %>:
            <%= link_to asv.taxon.canonicalName, taxon_path(asv.taxon) %>
            <%= asv.taxon.common_names %>
            <% if asv.highlights %>
              <% asv.highlights.each do |highlight| %>
                <br>notes: <%= highlight.notes %>
              <% end %>
            <% end %>

          </li>
        <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
</table>

<div class="row">
  <div class="col col-md-6">
    <h3>Map</h3>
    <%= render partial: "samples/map", locals: { samples: [sample],
      initial_lat: sample.latitude, initial_lng: sample.longitude } %>
  </div>
  <div class="col col-md-6">
    <h3>Site Photos</h3>
    <% if sample.photos.present? %>
      <%= render partial: "samples/gallery", locals: { photos: sample.photos } %>
    <% else %>
      <%= image_tag 'blank_photo.svg' %>
    <% end %>
  </div>
</div>
