<% path_params = {
  status: params[:status], substrate: params[:substrate], primer: params[:primer],
} %>
<% list_view = params[:view] == 'list' %>

<div class="samples-menu">

  <form class="form-inline search-form">
    <div class="form-group search_query">
      <input class="form-control" name="query" id="query" type="text"
        placeholder="Search barcode, project name">
    </div>
    <button type="submit" class="btn btn-default js-submit-search">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
  </form>

  <%= link_to 'Search Organisms', taxa_path %>

  <br><br>

  <div class="btn-group" role="group" >
    <a href="<%= samples_path(path_params) %>" class="<%= pill_menu_classes(!list_view) %>">
      <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Map
    </a>
    <a href="<%= samples_path(path_params.merge(view: :list)) %>" class="<%= pill_menu_classes(list_view) %>">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> List
    </a>
  </div>

  <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
    <i class="fas fa-sliders-h"></i> Filters
  </button>

  <div>
    <form autocomplete="off" class="samples-index collapse" id="collapseFilters">
      <div class="row">
        <div class="col-sm-4">
          <%= render partial: "shared/filters_sample_status" %>
        </div>

        <div class="col-sm-4">
          <%= render partial: "shared/filters_substrate" %>
        </div>

        <div class="col-sm-4">
          <%= render partial: "shared/filters_primer" %>
        </div>
      </div>

      <button type="submit" class="btn btn-primary js-submit-filters">Apply filters</button>
      <button class="btn btn-primary js-reset-filters">Reset filters</button>
    </form>

  </div>
</div>
