<table class="table">
  <tr>
    <td>Project</td>
    <td><%= link_to sample.field_data_project.name, field_data_project_path(sample.field_data_project) %></td>
  </tr>
  <tr>
    <td>Barcode</td>
    <td><%= sample.barcode %></td>
  </tr>
  <tr>
    <td>Lat/Long</td>
    <td>
      <%= sample.latitude %>, <%= sample.longitude %>
    </td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= sample.status_display %></td>
  </tr>
  <tr>
    <td>Collection Date</td>
    <td><%= long_date(sample.submission_date) %></td>
  </tr>

  <% sample.extractions.each do |extraction| %>
   <% if sample.extractions.length > 1%>
      <tr>
        <td><b><%= extraction.extraction_type.name %></b></td>
        <td></td>
      </tr>
    <% end %>
    <tr>
      <td>Analysis Date</td>
      <td><%= long_date(extraction.stat_dna_extraction_date) %></td>
    </tr>
    <tr>
      <td>DNA Results Completed Date</td>
      <td><%= long_date(extraction.stat_dna_extraction_date) %></td>
    </tr>
    <tr>
      <td>Organisms from ASV</td>
      <td>
        <ul>
        <% extraction.asvs.each do |s| %>
          <li>
            <%= link_to s.taxon.canonicalName, taxon_path(s.taxon) %>
            <%= s.taxon.canonicalName %>
          </li>
        <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
</table>

<%= render partial: "samples/map", locals: { samples: [sample],
  initial_lat: sample.latitude, initial_lng: sample.longitude } %>
