<h1>Sites <%= " : #{@display_name}" if @display_name %></h1>

<div class="cal-stats-container">
  <ul>
    <li><%= pluralize(number_with_delimiter(@samples_count), 'Site') %></li>
    <li><%= pluralize(number_with_delimiter(@samples_with_results_count), 'Site') %> with results</li>
    <li><%= pluralize(number_with_delimiter(@taxa_count), 'Taxon') %></li>
  </ul>
</div>

<p class="page-description">
  Here's all the soil, sediment, and water samples that were collected in the field and sent
  back to CALeDNA for genetic analyses.
</p>



<div id="samples-map"></div>
<%= javascript_pack_tag 'samples_map' %>
<%= stylesheet_pack_tag 'samples_map'%>
