<h1>
  Samples <%= " : #{@display_name}" if @display_name %>
</h1>
<p class="page-description">
  Here's all the soil or sediment collected in the field and sent
  back to CALeDNA for genetic analyses.
</p>

<%= render partial: "samples_menu" %>

<% if params[:view] == 'list' %>
  <%= render partial: "samples/list",
    locals: { samples: @samples, asvs_count: @asvs_count }  %>
<% else %>
  <%= render partial: "map" %>
  <%= javascript_pack_tag 'samples_map' %>
<% end %>
