<% path_params = { project_id: params[:project_id], status: params[:status],
  lat: params[:lat], lng: params[:lng], zoom: params[:zoom], sample_id: params[:sample_id] } %>

<h1>Samples</h1>

<%= render partial: "searches/form" %>

<div class="btn-group samples-menu" role="group" >
  <a href="<%= samples_path(path_params) %>" class="btn btn-default">
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Map
  </a>
  <a href="<%= samples_path(path_params.merge(view: :list)) %>" class="btn btn-default">
    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> List
  </a>
  <a href="<%= samples_path(view: params[:view]) %>" class="btn btn-default">
    <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> View All
  </a>
</div>

<% if params[:view] == 'list' %>
  <%= render partial: "list", locals: { samples: @samples }  %>
<% else %>
  <%= render partial: "map", locals: { samples: @samples } %>
<% end %>
