<h1>Samples</h1>

 <%= render partial: "searches/form" %>

<table class="table">
  <tr>
    <th>Project</th>
    <th>Bar Code</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Status</th>
  </tr>

  <% @samples.each do |sample| %>
    <tr class="clickable_row" data-path="<%= sample_path(sample) %>">
      <td ><%= link_to sample.project.name, project_path(sample.project) %></td>
      <td><%= sample.bar_code %></td>
      <td><%= sample.latitude %> </td>
      <td><%= sample.longitude %></td>
      <td><%= sample.status_display %></td>
    </tr>
  <% end %>
</table>

<%= paginate @samples %>
