<%= javascript_pack_tag 'samples_show' %>

<div class="page-header">
  <h1><%= @sample.barcode %></h1>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
  <li role="presentation"><a href="#fieldwork_details" aria-controls="fieldwork_details" role="tab" data-toggle="tab">Fieldwork</a></li>
  <% if @sample.extractions.first && @sample.extractions.first.local_fastq_storage_url.present? %>
    <li role="presentation"><a href="#labwork_details" aria-controls="labwork_details" role="tab" data-toggle="tab">Labwork</a></li>
  <% end %>
  <% if SamplesHelper.asvs_count(@asvs_count, @sample).present? %>
    <li role="presentation"><a href="#organisms" aria-controls="organisms" role="tab" data-toggle="tab">DNA Results</a></li>
  <% end %>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="overview">
    <%= render partial: "overview",
      locals: {
        sample: @sample, division_counts: @division_counts,
        asvs_count: @asvs_count
      }
    %>
  </div>
  <div role="tabpanel" class="tab-pane" id="fieldwork_details">
    <%= render partial: "fieldwork_details", locals: { sample: @sample } %>
  </div>
  <% if @sample.extractions.first && @sample.extractions.first.local_fastq_storage_url.present? %>
    <div role="tabpanel" class="tab-pane" id="labwork_details">
      <%= render partial: "labwork_details", locals: { sample: @sample } %>
    </div>
  <% end %>
  <% if SamplesHelper.asvs_count(@asvs_count, @sample).present? %>
    <div role="tabpanel" class="tab-pane" id="organisms">
      <%= render partial: "organisms",
        locals: {
          sample: @sample, asvs_count: @asvs_count,
          batch_vernaculars: @batch_vernaculars,
          organisms_groups: @organisms_groups
        }
      %>
    </div>
  <% end %>
</div>
