<h1><%= @sample.barcode %></h1>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
  <li role="presentation"><a href="#fieldwork_details" aria-controls="fieldwork_details" role="tab" data-toggle="tab">Fieldwork</a></li>
  <% if @sample.extractions.first && @sample.extractions.first.local_fastq_storage_url.present? %>
    <li role="presentation"><a href="#labwork_details" aria-controls="labwork_details" role="tab" data-toggle="tab">Labwork</a></li>
  <% end %>
  <% if @sample.status == :results_completed %>
    <li role="presentation"><a href="#organisms" aria-controls="organisms" role="tab" data-toggle="tab">DNA Results</a></li>
    <li role="presentation"><a href="#organisms_list" aria-controls="organisms_list" role="tab" data-toggle="tab">DNA Results List</a></li>
  <% end %>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="overview">
    <%= render partial: "overview",
      locals: {
        sample: @sample, division_counts: @division_counts,
        organisms: @organisms
      }
    %>
  </div>
  <div role="tabpanel" class="tab-pane" id="fieldwork_details">
    <%= render partial: "fieldwork_details", locals: { sample: @sample } %>
  </div>
  <% if @sample.extractions.first && @sample.extractions.first.local_fastq_storage_url.present? %>
    <div role="tabpanel" class="tab-pane" id="labwork_details">
      <%= render partial: "labwork_details", locals: { sample: @sample } %>
    </div>
  <% end %>
  <% if @sample.status == :results_completed %>
    <div role="tabpanel" class="tab-pane" id="organisms">
      <%= render partial: "organisms_chart",
        locals: {
          organisms: @organisms,
          asv_tree: @asv_tree
        }
      %>
    </div>
    <div role="tabpanel" class="tab-pane" id="organisms_list">
      <%= render partial: "organisms_list",
        locals: {
          sample: @sample,
          batch_vernaculars: @batch_vernaculars,
          organisms: @organisms
        }
      %>
    </div>
  <% end %>
</div>

<script>
(function(){

  window.caledna = {
    kingdom_counts: <%= @division_counts.to_json.html_safe %>,
    asv_tree: <%= @asv_tree.to_json.html_safe %>,
    asv_count: <%= @asv_tree_count %>

  }

})(window)
</script>

<%= javascript_pack_tag 'samples_detail_charts' %>
<%= javascript_pack_tag 'samples_asv_tree' %>
