<h1 class="title"><%= @sample.barcode %></h1>

<table class="table">
  <tr>
    <td>Project</td>
    <td><%= link_to @sample.field_data_project.name, field_data_project_path(@sample.field_data_project) %></td>
  </tr>
  <tr>
    <td>Barcode</td>
    <td><%= @sample.barcode %></td>
  </tr>
  <tr>
    <td>Lat/Long</td>
    <td>
      <%= @sample.latitude %>, <%= @sample.longitude %>
    </td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= @sample.status_display %></td>
  </tr>
  <tr>
    <td>Collection Date</td>
    <td><%= long_date(@sample.submission_date) %></td>
  </tr>
  <tr>
    <td>Analysis Date</td>
    <td>--</td>
  </tr>
  <tr>
    <td>DNA Results Completed Date</td>
    <td>--</td>
  </tr>
    <tr>
    <td>Specimens Found</td>
    <td>
      <% @sample.extractions.each do |extraction| %>
        <%= extraction.extraction_type.name %>
        <ul>
        <% extraction.specimens.each do |s| %>
          <li>
            <%= link_to s.taxonomic_unit.complete_name, taxa_path(s.taxonomic_unit) %>
            <%= s.taxonomic_unit.common_name %>
          </li>
        <% end %>
        </ul>
      <% end %>
    </td>
  </tr>
</table>

<%= render partial: "samples/map", locals: { samples: [@sample],
  initial_lat: @sample.latitude, initial_lng: @sample.longitude } %>
