<h1><%= @sample.bar_code %></h1>

<table class="table">
  <tr>
    <td>Project</td>
    <td><%= link_to @sample.project.name, project_path(@sample.project) %></td>
  </tr>
  <tr>
    <td>Bar Code</td>
    <td><%= @sample.bar_code %></td>
  </tr>
  <tr>
    <td>Lat/Long</td>
    <td>
      <%= @sample.latitude %>, <%= @sample.longitude %>
      <%= link_to map_path(lat: @sample.latitude, lng: @sample.longitude, zoom: 15) do %>
        <span class=" glyphicon glyphicon-map-marker" aria-hidden="true"></span> Map
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= @sample.status_display %></td>
  </tr>
  <tr>
    <td>Collection Date</td>
    <td><%= @sample.submission_date %></td>
  </tr>
  <tr>
    <td>Analysis Date</td>
    <td><%= @sample.analysis_date %></td>
  </tr>
  <tr>
    <td>DNA Results Completed Date</td>
    <td><%= @sample.results_completion_date %></td>
  </tr>
</table>
