<h1><%= @sample.bar_code %></h1>

<table class="table">
  <tr>
    <td>Project</td>
    <td><%= link_to @sample.project.name, project_path(@sample.project) %></td>
  </tr>
  <tr>
    <td>Bar Code</td>
    <td><%= @sample.bar_code %></td>
  </tr>
  <tr>
    <td>Lat/Long</td>
    <td>
      <%= @sample.latitude %>, <%= @sample.longitude %>
      <%= link_to samples_path(lat: @sample.latitude, lng: @sample.longitude, zoom: 15, sample_id: @sample.id) do %>
        <span class=" glyphicon glyphicon-map-marker" aria-hidden="true"></span> Map
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= @sample.status_display %></td>
  </tr>
  <tr>
    <td>Collection Date</td>
    <td><%= long_date(@sample.submission_date) %></td>
  </tr>
  <tr>
    <td>Analysis Date</td>
    <td><%= long_date(@sample.analysis_date) %></td>
  </tr>
  <tr>
    <td>DNA Results Completed Date</td>
    <td><%= long_date(@sample.results_completion_date) %></td>
  </tr>
    <tr>
    <td>Specimens Found</td>
    <td>
      <ul>
        <% @sample.specimens.each do |s| %>
          <li>

          <%= link_to s.taxonomic_unit.complete_name, taxa_path(s.taxonomic_unit) %>
          <%= s.taxonomic_unit.common_name %>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>
