<div>
  <h1>Organism<%= ": #{@query}" if @query %></h1>
</div>

<div class="taxa-search-menu">
  <%= render partial: "form" %>
  <a href="<%= taxa_search_path %>" class="btn btn-default reset-search">
    <span class="glyphicon glyphicon glyphicon-refresh" aria-hidden="true"></span> Reset Search
  </a>
</div>

<table class="table taxa-search">
  <% @matches.each do |match| %>
    <tr>
      <td>
        <%= match['rank'] %>: <%= link_to match['canonical_name'], taxon_path(id: match['taxon_id']) %><br>
        <%= "(#{match['alt_names'].split(' | ').join(', ')})" if match['alt_names'] %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @matches %>
