<div>
  <h1><%= pluralize(@matches.total_records, "match") %> for <%= "#{@query}" if @query %></h1>
</div>

<div class="taxa-search-menu">
  <%= render partial: "form" %>
</div>

<div class="taxa-image-gallery">
  <% @matches.each do |taxon| %>
    <%= render partial: './shared/taxa_gallery_item', locals: { taxon: taxon } %>
  <% end %>
</div>

<% if @matches.present? %>
<%= paginate @matches %>
<% end %>
