<div>
  <h1><%= pluralize(@matches.total_records, "match") %> for <%= "#{@query}" if @query %></h1>
</div>

<div class="taxa-search-menu">
  <%= render partial: "form" %>
  <a href="<%= taxa_search_path %>" class="btn btn-default reset-search">
    <span class="glyphicon glyphicon glyphicon-refresh" aria-hidden="true"></span> Reset Search
  </a>
</div>

<div class="taxa-image-gallery">
  <% @matches.each do |taxon| %>
    <%= render partial: './shared/taxa_gallery_item', locals: { taxon: taxon } %>
  <% end %>
</div>

<% if @matches.present? %>
<%= paginate @matches %>
<% end %>
