<div>
  <h1><%= pluralize(@matches.total_records, "match") %> for <%= "#{@query}" if @query %></h1>
</div>

<div class="taxa-search-menu">
  <%= render partial: "form" %>
  <a href="<%= taxa_search_path %>" class="btn btn-default reset-search">
    <span class="glyphicon glyphicon glyphicon-refresh" aria-hidden="true"></span> Reset Search
  </a>
</div>

<table class="table taxa-search">
  <% @matches.each do |match| %>
    <tr>
      <td>
        <% if TaxaSearchHelper.image(match).present? %>
          <%= link_to(image_tag(TaxaSearchHelper.image(match), width: 200), taxon_path(id: match.taxon_id)) %>
        <% else %>
          <%= image_tag 'blank_photo.svg', width: 200 %>
        <% end %>
        <%= match.rank %>: <%= link_to match.canonical_name, taxon_path(id: match.taxon_id) %><br>
        <%= "(#{match.alt_names.split(' | ').join(', ')})" if match.alt_names %><br>
        <%= pluralize(match.asvs_count, 'site') %>
      </td>
    </tr>
  <% end %>
</table>

<% if @matches.present? %>
<%= paginate @matches %>
<% end %>
