<% content_for(:title) { 'Import Kobo Projects' } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body">
  <%= form_tag(admin_import_projects_path, method: "post") do %>
    <%= submit_tag("Import Projects") %>
  <% end %>

  <table>
    <tr>
      <th>Name</th>
      <th>Records</th>
      <th>Last Import</th>
      <th></th>
    </tr>
    <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.samples.count %></td>
      <td><%= project.last_import_date %></td>
      <td>
        <%= form_tag(admin_path(project), method: "post") do %>
          <%= submit_tag("Import Samples") %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>

</section>
