<% if suggestion.ncbi_id %>
  NCBI ID: <%= link_to suggestion.taxon_id, "https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=#{suggestion.taxon_id}" %>
<% end%>
<% if suggestion.bold_id %>
  BOLD ID: <%= suggestion.bold_id %>
<% end%>
<% if suggestion.lineage.present? %>
<ol>
  <% suggestion.lineage && suggestion.lineage.each do |lineage|%>
    <li><%= lineage.third %>: <%= lineage.second  %></li>
  <% end %>
</ol>
<% elsif suggestion.hierarchy_names.present? %>
<ol>
  <li>superkingdom: <%= suggestion.hierarchy_names['superkingdom'] %></li>
  <li>kingdom: <%= suggestion.hierarchy_names['kingdom'] %></li>
  <li>phylum: <%= suggestion.hierarchy_names['phylum'] %></li>
  <li>class: <%= suggestion.hierarchy_names['class'] %></li>
  <li>order: <%= suggestion.hierarchy_names['order'] %></li>
  <li>family: <%= suggestion.hierarchy_names['family'] %></li>
  <li>genus: <%= suggestion.hierarchy_names['genus'] %></li>
  <li>species: <%= suggestion.hierarchy_names['species'] %></li>
</ol>
<% else %>
  <%= suggestion.attributes %>
<% end %>

<%= simple_form_for :normalize_ncbi_taxon, url: admin_labwork_normalize_ncbi_taxon_update_existing_path(@result_taxon), method: :put do |f| %>
  <%= f.hidden_field :taxon_id, value: suggestion.taxon_id  %>
  <%= f.submit 'Use this taxon' %>
<% end %>
<br><br>
