<%= javascript_pack_tag 'normalize_taxa' %>

<% content_for(:title) { 'Normalize taxonomy' } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body">

  <p>
    rank: <%= @cal_taxon.taxon_rank %><br>
    taxon: <%= @cal_taxon.name %><br>
    taxonomy string: <%= @cal_taxon.original_taxonomy_string %><br>
  </p>

  <table class="no-auto-link">
    <tr>
      <td>
        <ul>
          <li>superkingdom: <%= @cal_taxon.hierarchy['superkingdom'] %></li>
          <li>kingdom: <%= @cal_taxon.hierarchy['kingdom'] %></li>
          <li>phylum: <%= @cal_taxon.hierarchy['phylum'] %></li>
          <li>class: <%= @cal_taxon.hierarchy['class'] %></li>
          <li>order: <%= @cal_taxon.hierarchy['order'] %></li>
          <li>family: <%= @cal_taxon.hierarchy['family'] %></li>
          <li>genus: <%= @cal_taxon.hierarchy['genus'] %></li>
          <li>species: <%= @cal_taxon.hierarchy['species'] %></li>
        </ul>
      </td>
    </tr>
  </table>

  <% if @suggestions.present? %>
    <h2>Choose Existing Taxa</h2>

    <% @suggestions.each do |suggestion| %>
      <%= render 'suggestion', suggestion: suggestion %>
    <% end %>
    <br>
    <%= link_to "Back", :back, class: 'button' %>
        <div id="js-autocomplete-normalize-taxa" class="js"></div>

  <% else %>
    <div id="js-autocomplete-normalize-taxa" class="js"></div>
  <% end %>

</section>
