<%= javascript_pack_tag 'normalize_taxa' %>

<% content_for(:title) { 'Normalize taxonomy' } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body">

  <p>
    rank: <%= @result_taxon.taxon_rank %><br>
    taxon: <%= @result_taxon.name %><br>
    taxonomy string: <%= @result_taxon.clean_taxonomy_string %><br>
    sources: <%= @result_taxon.sources_display %><br>
  </p>

  <table class="table table-condensed taxonomy-tree">
    <% %w[superkingdom phylum class order family genus species].each do |rank| %>
    <tr>
      <td><%= rank %></td>
      <td><%= @result_taxon.hierarchy[rank] %></td>
    </tr>
    <% end %>
  </table>

  <h2>Suggested Taxa</h2>

  <% if @suggestions.present? %>
    <p>Here are some suggested taxa that might match the taxonomy string.</p>

    <% @suggestions.each do |suggestion| %>
      <%= render 'suggestion', suggestion: suggestion %>
    <% end %>
  <% else %>
    <p>No taxa matches the taxonomy string.</p>
  <% end %>

  <hr>

  <h2>Manually set taxon ID</h2>

  <p>
    You can manually set taxon ID for the taxonomy string. Search for the
    taxa at <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi">NCBI</a>
    or <a href="http://boldsystems.org/index.php/TaxBrowser_Home">BOLD</a> and enter
    in the taxon ID.
  </p>

  <%= simple_form_for :normalize_ncbi_taxon,
    url: admin_labwork_normalize_ncbi_taxon_update_with_id_path(@result_taxon),
    method: :put do |f| %>

    <div class="field-unit">
      <div class="field-unit__label">
        <label>Taxonomy Source</label>
      </div>
      <div class="field-unit__field">
        <%= f.input_field :source, collection: ['NCBI', 'BOLD'] %>
      </div>
    </div>

    <div class="field-unit">
      <div class="field-unit__label">
        <label>Taxon ID</label>
      </div>
      <div class="field-unit__field">
         <%= f.input_field :source_id %>
      </div>
    </div>

    <div class="field-unit">
      <div class="field-unit__label">
      </div>
      <div class="field-unit__field">
         <%= f.submit 'Submit' %>
      </div>
    </div>
  <% end %>

  <hr>

  <div id="js-autocomplete-normalize-taxa" class="js"></div>

  <hr>

  <h2>Cannot find a match</h2>
  <p>
    If you cannot find a matching taxon for the taxonomy string, then the eDNA
    results for this taxon will not be displayed on the site.
  </p>

  <%= simple_form_for :normalize_ncbi_taxon,
    url: admin_labwork_normalize_ncbi_taxon_ignore_taxon_path(@result_taxon),
    method: :put do |f| %>
    <%= f.submit 'No matches found' %>
  <% end %>
</section>
