<div class="item">
  <% if TaxaSearchHelper.image(taxon).present? %>
    <%= link_to(image_tag(TaxaSearchHelper.image(taxon), class: 'img-responsive'),
      taxon_path(id: taxon.taxon_id)) %>
  <% else %>
    <%= link_to(image_tag('blank_photo.svg'),
      taxon_path(id: taxon.taxon_id)) %>
  <% end %>
  <p>
    <% if TaxaHelper.show_kingdom_icon?(taxon.division_name) %>
      <%= image_tag TaxaHelper.kingdom_icon(taxon.division_name), class: 'kingdom-icon' %>
      <%= taxon.division_name %><br>
    <% end %>
    <%= "#{taxon.rank}: " if taxon.rank? %>
    <%= link_to taxon.canonical_name,
      taxon_path(id: taxon.taxon_id) %><br>
    <%
      common_names = TaxaSearchHelper.common_names(taxon)
      if common_names.present?
    %>
      <%= common_names %><br>
    <% end %>
    <%= pluralize(taxon.asvs_count, 'site') %>
  </p>
</div>
