<h1><%= params[:type] == 'past' ? 'Past' : 'Upcoming' %> Events</h1>

<div class="samples-menu">
  <div class="btn-group" role="group" >
    <%= link_to 'Upcoming', events_path, class: "btn btn-default" %>
    <%= link_to 'Past', events_path(type: 'past'), class: "btn btn-default" %>
  </div>
</div>

<div class="events-list row">
  <% if @events.present? %>
    <% @events.each do |event| %>
      <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
          <h1><%= link_to event.name, event_path(event) %></h1>
          <div><%= long_datetime(event.start_date) %></div>
          <div><%= event.location %></div>
          </div>
        </div>
      </div>
    <% end %>
  <% elsif params[:type] == 'past' %>
    <p>There are no past events.</p>
  <% else %>
    <p>There are no upcoming events.</p>
  <% end %>
</div>
