<% past = params[:type] == 'past' %>

<h1> Events</h1>

<div class="events-menu">
  <div class="btn-group" role="group" >
    <%= link_to 'Upcoming', events_path, class: pill_menu_classes(!past) %>
    <%= link_to 'Past', events_path(type: 'past'), class: pill_menu_classes(past) %>
  </div>
</div>

<div class="events-list flex-grid">
  <% if @events.present? %>
    <% @events.each do |event| %>
      <div class="flex-grid-item">
        <% if event.flyer.attachment.present? %>
          <div><%= display_resize_image(event.flyer) %></div>
        <% end %>
        <h1><%= link_to event.name, event_path(event) %></h1>
        <div><%= long_datetime(event.start_date) %></div>
        <div><%= event.location %></div>
      </div>
    <% end %>
  <% elsif params[:type] == 'past' %>
    <p>There are no past events.</p>
  <% else %>
    <p>There are no upcoming events.</p>
  <% end %>
</div>
