<%# NOTE: Changed the generated Administrate file. Added non-resource-based links. %>

<nav class="navigation" role="navigation">
  <p>Hi, <%= current_researcher.username %></p>
  <%= link_to 'Logout', destroy_researcher_session_path, method: :delete,
    class: 'navigation__link navigation' %>

  <hr>
  <% if policy(:import_kobo).import_kobo? %>
    <%= link_to 'Import Kobo Projects', admin_import_kobo_path,
      class: "navigation__link navigation__link--#{action_name == 'list_projects' ? 'active' : 'inactive'}" %>
  <% end %>

  <% if policy(:assign_samples).index? %>
    <%= link_to 'Assign Samples', admin_assign_samples_path,
      class: "navigation__link navigation__link--#{action_name == 'list_projects' ? 'active' : 'inactive'}" %>
  <% end %>

    <% if policy(:approve_samples).index? %>
    <%= link_to 'Approve Samples', admin_approve_samples_path,
      class: "navigation__link navigation__link--#{action_name == 'list_projects' ? 'active' : 'inactive'}" %>
  <% end %>

  <% Administrate::Namespace.new(namespace).resources.each do |resource| %>
    <%
      non_model_dashboards = ['kobo', 'assign_samples', 'approve_samples', 'batch_actions']
      next if non_model_dashboards.include?(resource.resource)
    %>

    <%= link_to(
      display_resource_name(resource),
      [namespace, resource.path],
      class: "navigation__link navigation__link--#{nav_link_state(resource)}"
    ) %>
  <% end %>
</nav>
