<% list_view = params[:view] == 'list' %>
<% inat_source = params[:source] == 'inat' %>

<% if @project.present? %>
  <h1><%= @project.name %></h1>
  <%= render partial: "beta/ebbe_nielsen/submenu" %>

  <% if params[:section] == 'occurrence_comparsion' %>
    <%= render partial: "beta/ebbe_nielsen/occurrence_comparsion" %>
  <% elsif params[:section] == 'gbif_breakdown' %>
    <%= render partial: "beta/ebbe_nielsen/gbif_breakdown" %>
  <% elsif params[:section] == 'interactions' %>
    <%= render partial: "beta/ebbe_nielsen/interactions" %>
  <% elsif params[:view] == 'list' %>
    <%= render partial: "beta/ebbe_nielsen/intro" %>
    <%= render partial: "beta/ebbe_nielsen/samples_menu" %>
    <%= render partial: "beta/ebbe_nielsen/list",
      locals: { occurrences: @occurrences, asvs_count: @asvs_count }  %>
  <% elsif params[:section] == 'common_taxa' %>
    <%= render partial: "beta/ebbe_nielsen/common_taxa" %>
  <% elsif params[:section] == 'edna_gbif_comparison' %>
    <%= render partial: "beta/ebbe_nielsen/edna_gbif_comparison" %>
  <% else %>
    <%= render partial: "beta/ebbe_nielsen/intro" %>
    <%= render partial: "beta/ebbe_nielsen/samples_menu" %>
    <%= render partial: "beta/ebbe_nielsen/map", locals: { samples: @samples,
      asvs_count: @asvs_count,
      inat_observations: @inat_observations,
      initial_lat: nil, initial_lng: nil } %>
  <% end %>
<% end %>
