<h3>Biotic Interactions</h3>

<button class='btn my-btn-default js-interactions-edna'>
  show interactions with eDNA results
</button>

<button class='btn my-btn-default js-interactions-all'>
  show all interactions
</button>

<ul>
  <% taxon.biotic_interactions.each do |key, interactions| %>
    <% next if interactions.blank? %>
    <h3><%= key.capitalize %> Interactions</h3>
    <% interactions.each do |globi| %>
      <li class="<%= 'js-no-sites' if globi[:asvs_count].blank? || globi[:asvs_count].zero? %>">
        <%= globi[:type] %>
        <% if globi[:taxon_id].present? %>
          <%= link_to globi[:taxon_name] , taxon_path(id: globi[:taxon_id]) %>
        <% else %>
          <%= globi[:taxon_name] %>
        <% end %>
        <%= TaxaSearchHelper.display_common_names(globi[:common_names]) if globi[:common_names].present? %>
        <span class="meta"><%= pluralize globi[:asvs_count], 'site' %></span>
      </li>
    <% end %>
  <% end %>
</ul>
