<table class="table">
  <tr>
    <th>Species</th>
    <th>Sample</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Project</th>
  </tr>

  <% samples.each do |sample| %>
    <tr>
      <td><% links = sample.taxons.map do |t|  %>
      <% link_to t.first, taxa_path(id: t.last, view: params[:view]) %>
      <% end %>
      <%= raw links.join(', ')%>
      </td>
      <td><%= link_to sample.barcode, sample_path(id: sample.id) %></td>
      <td><%= link_to sample.field_data_project_name,  field_data_project_path(id: sample.project_id) %></td>
      <td><%= sample.latitude %> </td>
      <td><%= sample.longitude %></td>
    </tr>
  <% end %>
</table>

<%= paginate samples %>
