<table class="table">
  <tr>
    <th>Sample</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Matching Taxa</th>
  </tr>

  <% samples.each do |sample| %>
    <tr>
      <td><%= link_to sample.barcode, sample_path(id: sample.id) %></td>
      <td><%= sample.latitude %> </td>
      <td><%= sample.longitude %></td>
      <td><%= sample.taxa.gsub(/[{}"]/, '').split(',').join(', ') %></td>
    </tr>
  <% end %>
</table>

<%= paginate samples %>
