<h3>Classification</h3>
<table class="table table-condensed taxonomy-tree">
  <% taxon.taxonomy_tree.each do |taxon|%>
    <tr>
    <td>
      <%= taxon[:name] %>
    </td>
    <td>
    <% if taxon[:id] %>
      <%= link_to taxon[:value], taxon_path(id: taxon[:id]) %>
    <% else %>
      <%= taxon[:value] %>
    <% end %>
  </td>
    </tr>
  <% end %>
</table>
<p class='data-source'>
  Classification Source: <%= link_to taxon.taxa_dataset.name, taxon.taxa_dataset.url %><br>
  <%= taxon.taxa_dataset.citation %>
</p>

<% if taxon.vernaculars.present? %>
  <h3>Common Names</h3>
  <table class="table table-condensed ">
    <tr>
      <th>Name</th>
      <th>Language</th>
      <th>source</th>
    </tr>

    <% taxon.vernaculars.each do |vernacular|%>
      <tr>
        <td>
          <%= vernacular.vernacularName %>
        </td>
        <td>
          <%= vernacular.language_name %>
        </td>
        <td>
          <%= vernacular.source %>
        </td>
      </tr>
    <% end %>
  </table>
  <p class='data-source'>
    Common Names Source: <%= link_to TaxaDataset.gbif_backbone.name, TaxaDataset.gbif_backbone.url %><br>
    <%= TaxaDataset.gbif_backbone.citation %>
  </p>
<% end%>

<% if taxon.synonyms.present? %>
  <h3>Scientific Names</h3>
  <table class="table table-condensed ">
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>

    <% taxon.synonyms.each do |synonym|%>
      <tr>
        <td><%= synonym.canonicalName %></td>
        <td><%=synonym.taxonomicStatus %></td>
      </tr>
    <% end %>
  </table>
  <p class='data-source'>
    Scientific Names Source: <%= link_to TaxaDataset.gbif_backbone.name, TaxaDataset.gbif_backbone.url %><br>
    <%= TaxaDataset.gbif_backbone.citation %>
  </p>
<% end %>
