<h3>Classification</h3>
<table class="table table-condensed taxonomy-tree">
  <% taxon.lineage.each do |lineage|%>
    <tr>
    <td>
      <%= lineage.third %>
    </td>
    <td>
    <% if lineage.first %>
      <%= link_to lineage.second, taxon_path(id: lineage.first) %>
    <% else %>
      <%= lineage.second %>
    <% end %>
  </td>
    </tr>
  <% end %>
</table>

<% if taxon.taxonomicStatus %>
  <p>Taxonomic status: <%= taxon.taxonomicStatus %></p>
<% end %>
<% if taxon.acceptedNameUsageID %>
  <p>Accepted name: <%= link_to taxon.accepted_taxon.canonicalName, taxon_path(taxon.accepted_taxon) %></p>
<% end %>

<% if taxon.vernaculars.present? %>
  <h3>Common Names</h3>
  <table class="table table-condensed ">
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>

    <% taxon.vernaculars.each do |vernacular|%>
      <tr>
        <td><%= vernacular.name %></td>
        <td><%= vernacular.name_class %></td>
      </tr>
    <% end %>
  </table>
<% end%>

<% if taxon.synonyms.present? %>
  <h3>Scientific Names</h3>
  <table class="table table-condensed ">
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>

    <% taxon.synonyms.each do |synonym|%>
      <tr>
        <td><%= link_to synonym.name, taxon_path(taxonID: synonym.taxon_id) %></td>
        <td><%= synonym.name_class %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<p class='data-source'>
  Names Source: <%= link_to NcbiNode.taxa_dataset.name, NcbiNode.taxa_dataset.url %><br>
  <%= NcbiNode.taxa_dataset.citation %>
</p>
