<h3>Classification</h3>
<table class="table table-condensed taxonomy-tree">
  <% taxon.taxonomy_lineage.each do |taxon|%>
    <tr>
      <td>
        <%= taxon.rank %>
      </td>
      <td>
        <%= link_to taxon.canonical_name, taxon_path(id: taxon.taxon_id) %>
        <%= taxon.common_names_display if taxon.common_names.present? %>
      </td>
    </tr>
  <% end %>
</table>

<% if taxon.ncbi_names.other.present? %>
  <h3>Other Names</h3>
  <table class="table table-condensed ">
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>

    <% taxon.ncbi_names.other.each do |ncbi_name|%>
      <tr>
        <td><%= ncbi_name.name %></td>
        <td><%= ncbi_name.name_class %></td>
      </tr>
    <% end %>
  </table>
<% end%>

<% if taxon.synonyms.present? %>
  <h3>Scientific Names</h3>
  <table class="table table-condensed ">
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>

    <% taxon.synonyms.each do |synonym|%>
      <tr>
        <td><%= link_to synonym.name, taxon_path(taxon_id: synonym.taxon_id) %></td>
        <td><%= synonym.name_class %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<p class='data-source'>
  Names Source: <%= link_to NcbiNode.taxa_dataset.name, NcbiNode.taxa_dataset.url %><br>
  <%= NcbiNode.taxa_dataset.citation %>
</p>
