<% list_view = params[:view] == 'list' %>

<div class="row">
  <div class="col-md-6">
    <% if taxon.image.present? %>
      <%= image_tag taxon.image.url, alt: taxon.canonicalName, width: 350 %><br>
      <p class='data-source'>
        Image Source: <%=  taxon.image.attribution %>
        via <%= link_to taxon.image.source, taxon.image.url %>
      </p>
    <% else %>
      <%= image_tag 'blank_photo.svg' %>
    <% end %>
    <% if taxon.wikipedia_excerpt %>
      <p>
        <%= taxon.wikipedia_excerpt %>
        <%= link_to 'Source: Wikipedia', taxon.wikipedia_link.url %>
      </p>
    <% end %>
  </div>

  <div class="col-md-6">
    <h3>Classification</h3>
    <button class='btn my-btn-default js-taxonomy-abridged'>
      show abridged classification
    </button>

    <button class='btn my-btn-default js-taxonomy-complete'>
      show complete classification
    </button>

    <table class="table taxonomy-tree">
      <% taxon.taxonomy_lineage.each do |taxon|%>
      <tr <%= 'class=js-minor-rank' unless CalTaxon::TAXON_RANK.include?(taxon.rank) %>>
        <td>
          <%= taxon.rank %>
        </td>
        <td>
        <%= link_to taxon.canonical_name, taxon_path(id: taxon.taxon_id) %>
        <%= taxon.common_names_display(first_only: true) if taxon.common_names.present? %>
         <span class="meta"><%= pluralize(taxon.asvs_count_display, 'site') %></span>
        </td>
      </tr>
      <% end %>
    </table>

    <% if @children.length > 0 %>
      <h4>Immediate Children</h4>
      <table class="table taxonomy-tree">
        <% @children.each do |taxon| %>
        <tr>
          <td><%= taxon.rank %></td>
          <td>
            <%= link_to taxon.canonical_name, taxon_path(taxon) %>
            <%= taxon.common_names_display(first_only: true) if taxon.common_names.present? %>
            <span class="meta"><%= pluralize(taxon.asvs_count_display, 'site') %></span>
          </td>
        </tr>
        <% end %>
      </table>
      <%= paginate @children, param_name: :children_page %>
    <% end %>

    <p class='data-source'>
      Classification Source: <%= link_to taxon.taxa_dataset.name, taxon.taxa_dataset.url %><br>
      <%= taxon.taxa_dataset.citation %>
    </p>

    <% if taxon.conservation_status? %>
      <h3>Conservation Status</h3>
      <p><%= taxon.conservation_status %></p>
      <p class='data-source'>Conservation Status Source: <a href='www.iucnredlist.org'>IUCN 2017. IUCN Red List of Threatened Species.</a> Version 2017-3</p>
    <% end %>
  </div>
</div>

<h3 id="samples" class="title">eDNA Sites</h3>

<% if samples.total_records.zero? %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= taxon.canonicalName %> has not been detected in any CALeDNA sites.
    </div>
  </div>
  <%= render partial: "gbif_occurrence_map", locals: { taxon: taxon } %>

<% elsif taxon.threatened? %>
  <div class="panel panel-default">
    <p class="panel-body">
      <%= pluralize(samples.total_records, 'site') %> with
      <%= taxon.canonical_name %> <%= taxon.common_names_display(truncate: false) %><br><br>

      NOTE: In order to protect threatened species, we do not show
      location info for species listed as 'Extinct', 'Extinct in the Wild',
      'Critically Endangered', 'Endangered', 'Vulnerable', or 'Near Threatened'
      by IUCN.
    </p>
  </div>
  <%= render partial: "gbif_occurrence_map", locals: { taxon: taxon } %>

<% else %>
  <div class="samples-menu">
    <div class="btn-group" role="group" >
      <a href="<%= taxon_path %>#samples" class="<%= pill_menu_classes(!list_view) %>">
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Map
      </a>
      <a href="<%= taxon_path(view: :list) %>#samples" class="<%= pill_menu_classes(list_view) %>">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> List
      </a>
    </div>
  </div>

  <% if params[:view] == 'list' %>
    <%= render partial: "list", locals: { samples: samples, asvs_count: @asvs_count }  %>
  <% else %>
    <div class="taxa-markers">
      <div>
        <input type="checkbox" checked value="asvs" class="js-taxa-markers">
        <svg height="30" width="100%">
          <circle cx="15" cy="15" r="7" stroke="#222" stroke-width="2" fill="#5aa172" />
          <text x="30" y="20"><%= pluralize(samples.total_records, 'site') %> with <%= taxon.canonical_name %> <%= taxon.common_names_display(truncate: false) %></text>
        </svg>
      </div>
      <div>
        <input type="checkbox" value="presence" class="js-taxa-markers">
        <svg height="30" width="100%">
          <circle cx="15" cy="15" r="7" stroke="#777" stroke-width="2" fill="#ddd" />
          <text x="30" y="20">sites with eDNA results</text>
        </svg>
      </div>
    </div>
    <%= render partial: "shared/map" %>
    <%= render partial: "gbif_occurrence_map", locals: { taxon: taxon } %>

  <% end %>
<% end %>
