<% list_view = params[:view] == 'list' %>

<div class="row">
  <div class="col-md-6">
    <% if taxon.image.present? %>
      <%= image_tag taxon.image.url, alt: taxon.canonicalName, width: 350 %><br>
      <p class='data-source'>
        Image Source: <%=  taxon.image.attribution %>
        via <%= link_to taxon.image.source, taxon.image.taxa_url %>
      </p>
    <% else %>
      <%= image_tag 'blank_photo.svg' %>
    <% end %>
  </div>

  <div class="col-md-6">
    <% if taxon.wikipedia_excerpt %>
      <h3><%= taxon.canonical_name %></h3>
      <p>
        <%= taxon.wikipedia_excerpt %>
        <%= link_to 'Source: Wikipedia', taxon.wikipedia_link.url %>
      </p>
    <% end %>
    <h3>Classification</h3>
    <table class="table table-condensed taxonomy-tree">
      <% taxon.taxonomy_tree.each do |taxon|%>
        <tr>
        <td>
          <%= taxon[:name] %>
        </td>
        <td>
        <% if taxon[:id] %>
          <%= link_to taxon[:value], taxon_path(id: taxon[:id]) %>
        <% else %>
          <%= taxon[:value] %>
        <% end %>
      </td>
        </tr>
      <% end %>
    </table>
    <p class='data-source'>
      Classification Source: <%= link_to taxon.taxa_dataset.name, taxon.taxa_dataset.url %><br>
      <%= taxon.taxa_dataset.citation %>
    </p>

    <% if taxon.conservation_status? %>
      <h3>Conservation Status</h3>
      <p><%= taxon.conservation_status %></p>
      <p class='data-source'>Source: <a href='www.iucnredlist.org'>IUCN 2017. IUCN Red List of Threatened Species.</a> Version 2017-3</p>
    <% end %>
  </div>
</div>

<% if taxon.threatened? && samples.present? %>
  <h2 id="samples" class="title">Sites</h2>

  <% if samples.present? %>
    <div class="panel panel-default">
      <p class="panel-body">
        NOTE: In order to protect threatened species, we do not show site or
        location info for species listed as 'Extinct', 'Extinct in the Wild',
        'Critically Endangered', 'Endangered', 'Vulnerable', or 'Near Threatened'
        by IUCN.
      </p>
    </div>
  <% else %>
    <div class="panel panel-default">
      <div class="panel-body">
        No CALeDNA sites match <%= taxon.canonicalName %>
      </div>
    </div>
  <% end %>
<% else %>
  <h2 id="samples" class="title"><%= pluralize(samples.total_records, 'Site') %></h2>

  <% if samples.present? %>
    <div class="samples-menu">
      <div class="btn-group" role="group" >
        <a href="<%= taxon_path %>#samples" class="<%= pill_menu_classes(!list_view) %>">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Map
        </a>
        <a href="<%= taxon_path(view: :list) %>#samples" class="<%= pill_menu_classes(list_view) %>">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> List
        </a>
      </div>
    </div>

    <% if params[:view] == 'list' %>
      <%= render partial: "list", locals: { samples: samples, asvs_count: @asvs_count }  %>
    <% else %>
      <div class="taxa-markers">
        <div>
          <input type="checkbox" checked value="asvs" class="js-taxa-markers">
          <svg height="30">
            <circle cx="15" cy="15" r="7" stroke="#222" stroke-width="2" fill="#5aa172" />
            <text x="30" y="20">sites with <%= taxon.canonicalName %> (<%= taxon.common_names(false) %>)</text>
          </svg>
        </div>
        <div>
          <input type="checkbox" value="presence" class="js-taxa-markers">
          <svg height="30">
            <circle cx="15" cy="15" r="7" stroke="#777" stroke-width="2" fill="#ddd" />
            <text x="30" y="20">sites with results</text>
          </svg>
        </div>
      </div>
      <%= render partial: "map" %>
    <% end %>
  <% else %>
    <div class="panel panel-default">
      <div class="panel-body">
        No CALeDNA samples match <%= taxon.canonicalName %>
      </div>
    </div>
  <% end %>
<% end %>
