<div class="row">
  <div class="col-md-6">
    <% if taxon.image.present? %>
      <%= image_tag taxon.image[:url], alt: taxon.canonicalName, width: 500 %><br>
      <%=  taxon.image[:attribution] %>
    <% else %>
      <%= image_tag 'blank_photo.svg' %>
    <% end %>
  </div>

  <div class="col-md-6">
    <h3>Classification</h3>
    <table class="table table-condensed taxonomy-tree">
      <% taxon.taxonomy_tree.each do |taxon|%>
        <tr>
        <td>
          <%= taxon[:name] %>
        </td>
        <td>
        <% if taxon[:id] %>
          <%= link_to taxon[:value], taxon_path(id: taxon[:id]) %>
        <% else %>
          <%= taxon[:value] %>
        <% end %>
      </td>
        </tr>
      <% end %>
    </table>

    <% if taxon.conservation_status? %>
      <h3>Conservation Status</h3>
      <p><%= taxon.conservation_status %></p>
      <p>Source: <a href='www.iucnredlist.org'>IUCN 2017. IUCN Red List of Threatened Species.</a> Version 2017-3</p>
    <% end %>
  </div>
</div>

<h2 class="title">Samples</h2>

<div class="samples-menu">
  <div class="btn-group" role="group" >
    <a href="<%= taxon_path %>" class="btn btn-default">
      <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Map
    </a>
    <a href="<%= taxon_path(view: :list) %>" class="btn btn-default">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> List
    </a>
  </div>
</div>

<% if params[:view] == 'list' %>
  <%= render partial: "list", locals: { samples: samples }  %>
<% else %>
  <%= render partial: "samples/map", locals: { samples: samples,
  initial_lat: params[:lat], initial_lng: params[:lng] } %>
<% end %>
