<div class="row">
  <div class="col-md-6">
    <% if taxon.image.present? %>
      <%= image_tag taxon.image.url, alt: taxon.canonicalName, width: 400 %><br>
      <p class='data-source'>
        Image Source: <%=  taxon.image.attribution %>
        via <%= link_to taxon.image.source, taxon.image.taxa_url %>
      </p>
    <% else %>
      <%= image_tag 'blank_photo.svg' %>
    <% end %>
  </div>

  <div class="col-md-6">
    <h3>Classification</h3>
    <table class="table table-condensed taxonomy-tree">
      <% taxon.taxonomy_tree.each do |taxon|%>
        <tr>
        <td>
          <%= taxon[:name] %>
        </td>
        <td>
        <% if taxon[:id] %>
          <%= link_to taxon[:value], taxon_path(id: taxon[:id]) %>
        <% else %>
          <%= taxon[:value] %>
        <% end %>
      </td>
        </tr>
      <% end %>
    </table>
    <% if taxon.taxonomicStatus %>
      <p>Taxonomic status: <%= taxon.taxonomicStatus %></p>
    <% end %>
    <% if taxon.acceptedNameUsageID %>
      <p>Accepted name: <%= link_to taxon.accepted_taxon.canonicalName, taxon_path(taxon.accepted_taxon) %></p>
    <% end %>
    <p class='data-source'>
      Classification Source: <%= link_to taxon.taxa_dataset.name, taxon.taxa_dataset.url %><br>
      <%= taxon.taxa_dataset.citation %>
    </p>

    <% if taxon.conservation_status? %>
      <h3>Conservation Status</h3>
      <p><%= taxon.conservation_status %></p>
      <p>Source: <a href='www.iucnredlist.org'>IUCN 2017. IUCN Red List of Threatened Species.</a> Version 2017-3</p>
    <% end %>
  </div>
</div>

<% if taxon.threatened? %>
  <div class="panel panel-default">
    <p class="panel-body">
      NOTE: In order to protect threatened species, we do not show sample or
      location info for species listed as 'Extinct', 'Extinct in the Wild',
      'Critically Endangered', 'Endangered', 'Vulnerable', or 'Near Threatened'
      by IUCN.
    </p>
  </div>
<% else %>
  <h2 id="samples" class="title">Samples</h2>

  <% if samples.present? %>
    <div class="samples-menu">
      <div class="btn-group" role="group" >
        <a href="<%= taxon_path %>#samples" class="btn btn-default">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Map
        </a>
        <a href="<%= taxon_path(view: :list) %>#samples" class="btn btn-default">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> List
        </a>
      </div>
    </div>

    <% if params[:view] == 'list' %>
      <%= render partial: "list", locals: { samples: samples, asvs_count: @asvs_count }  %>
    <% else %>
      <%= render partial: "samples/map", locals: { samples: samples,
      asvs_count: @asvs_count,
      initial_lat: params[:lat], initial_lng: params[:lng] } %>
    <% end %>
  <% else %>
    <div class="panel panel-default">
      <div class="panel-body">
        No CALeDNA samples match <%= taxon.canonicalName %>
      </div>
    </div>
  <% end %>
<% end %>
