<h2>Children Organisms</h2>

<p>All the organisms in our eDNA results that are children of <%= taxon.canonical_name %>.</p>
<% start = params[:related_organisms_page] ? params[:related_organisms_page].to_i - 1 : 0 %>
<ol start = "<%= 1 + (start * 50) %>">
  <% related_organisms.each do |taxon| %>
    <li>
      <%= taxon.rank %>:
      <%= link_to taxon.canonical_name, taxon_path(taxon) %> <%= taxon.common_names_display %>
      <span class="meta"><%= pluralize(taxon.asvs_count_display, 'site') %></span>
    </li>
  <% end %>
</ol>

<%= paginate related_organisms, param_name: :related_organisms_page %>
