<% content_for :hero_container do %>
<div class="cal-hero-container">
  <ul>
    <li><%= pluralize(number_with_delimiter(@taxa_count), 'Taxon') %></li>
    <li><%= pluralize(number_with_delimiter(@families_count), 'Family') %></li>
    <li><%= pluralize(number_with_delimiter(@species_count), 'Species') %></li>
  </ul>
</div>
<% end %>


<h1>Identified Organisms</h1>
<p class="page-description">
  Here's some of organisms (microbes, fungi, plants, animals, etc.) that have been
  identified in our eDNA data.
</p>

<div class="taxa-search-menu">
  <%= render partial: "taxa_searches/form" %>
</div>

<h1>Most Commonly Found Animal Species</h1>

<div class="taxa-image-gallery">
<% @top_animal_taxa.each do |taxon| %>
  <%= render partial: './shared/taxa_gallery_item', locals: { taxon: taxon } %>
<% end %>
</div>

<h1>Most Commonly Found Plant Species</h1>

<div class="taxa-image-gallery">
<% @top_plant_taxa.each do |taxon| %>
  <%= render partial: './shared/taxa_gallery_item', locals: { taxon: taxon } %>
<% end %>
</div>
