<h1>Highlights</h1>
<% @higlights.each do |taxon| %>
 <li>
  <%= link_to taxon.canonicalName, taxon_path(taxon) %>
  <%= taxon.common_names %>
  </li>
<% end %>

<h1>Most Commonly Found</h1>
<% @top_taxa.each do |taxon| %>
 <li>
  <%= taxon.taxonRank %>:
  <%= link_to taxon.canonicalName, taxon_path(taxon) %>
  <%= taxon.common_names %>
  </li>
<% end %>
