<h1>
  <%= @taxon.taxonRank %>: <%= @taxon.canonicalName %>
</h1>

<h2><%= @taxon.common_names(false)%></h2>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
  <li role="presentation"><a href="#names" aria-controls="names" role="tab" data-toggle="tab">Names</a></li>
  <li role="presentation"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">More Info</a></li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="overview">
    <%= render partial: "overview", locals: { taxon: @taxon, samples: @samples } %>
  </div>
  <div role="tabpanel" class="tab-pane" id="names">
    <%= render partial: "names", locals: { taxon: @taxon } %>
  </div>
  <div role="tabpanel" class="tab-pane" id="info">
    <%= render partial: "info", locals: { taxon: @taxon } %>
  </div>
</div>
