<h1 class="title">
  <%= @taxon.canonicalName %> <%= @taxon.common_name %>
</h1>

<table class="table table-condensed taxonomy-tree">
  <caption>Taxonomy</caption>
  <% @taxon.taxonomy_tree.each do |taxon|%>
    <tr>
    <td>
      <%= taxon[:name] %>
    </td>
    <td>
    <%= link_to taxon[:value], taxon_path(id: taxon[:id]) %>
  </td>
    </tr>
  <% end %>
</table>

<hr>

<h1 class="title">Samples</h1>

<div class="samples-menu">
  <div class="btn-group" role="group" >
    <a href="<%= taxon_path %>" class="btn btn-default">
      <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Map
    </a>
    <a href="<%= taxon_path(view: :list) %>" class="btn btn-default">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> List
    </a>
  </div>
</div>

<% if params[:view] == 'list' %>
  <%= render partial: "list", locals: { samples: @samples }  %>
<% else %>
  <%= render partial: "samples/map", locals: { samples: @samples,
  initial_lat: params[:lat], initial_lng: params[:lng] } %>
<% end %>
