<div class="taxa-header">
    <h1>
      <% if TaxaHelper.show_kingdom_icon?(@taxon.ncbi_division&.name) %>
        <%= image_tag TaxaHelper.kingdom_icon(@taxon.ncbi_division&.name), class: 'kingdom-icon' %>
        <%= @taxon.ncbi_division&.name %> &raquo;
      <% end %>
      <%= @taxon.taxonRank %>: <%= @taxon.canonicalName %>
    </h1>
  <h2><%= @taxon.common_names_display(parenthesis: false, truncate: false) if @taxon.common_names.present? %></h2>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
  <% if @taxon.show_interactions? %>
    <li role="presentation"><a href="#interactions" aria-controls="interactions" role="tab" data-toggle="tab">Interactions</a></li>
  <% end %>
  <li role="presentation"><a href="#names" aria-controls="names" role="tab" data-toggle="tab">Names</a></li>
  <li role="presentation"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">More Info</a></li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="overview">
    <%= render partial: "overview", locals: { taxon: @taxon, samples: @samples } %>
  </div>
  <% if @taxon.show_interactions? %>
    <div role="tabpanel" class="tab-pane" id="interactions">
      <%= render partial: "interactions", locals: { taxon: @taxon, samples: @samples } %>
    </div>
  <% end %>
  <div role="tabpanel" class="tab-pane" id="names">
    <%= render partial: "names", locals: { taxon: @taxon } %>
  </div>
  <div role="tabpanel" class="tab-pane" id="info">
    <%= render partial: "info", locals: { taxon: @taxon } %>
  </div>
</div>

<script>
(function(){
  window.caledna = {
    gbif_id: <%= @taxon.gbif_id %>
  }
})(window)
</script>

<%= javascript_pack_tag 'taxa_show' %>
<%= javascript_pack_tag 'taxa_detail_map' %>
<%= javascript_pack_tag 'gbif_occurrence_map' %>

