<section class="activities">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
          <%= link_to become_community_scientist_path do %>
            <%= image_tag 'home/register2.png', class: 'img-responsive' %>
            <div class="panel-body">
              <h3>Volunteer as a community scientist.</h3>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
          <a href="http://www.ucedna.com/kit-training/">
            <%= image_tag 'home/collect_soil2.png', class: 'img-responsive' %>
            <div class="panel-body">
              <h3>Get training for collecting soil samples.</h3>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
          <%= link_to events_path do %>
            <%= image_tag 'home/attend_biobltiz2.png', class: 'img-responsive' %>
            <div class="panel-body">
              <h3>Attend bioblitzes to collect soil samples.</h3>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
          <%= link_to how_are_samples_analyzed_path do %>
            <%= image_tag 'home/analyze_sample2.png', class: 'img-responsive' %>
            <div class="panel-body">
              <h3>Learn how our labs sequence and analyze eDNA.</h3>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
          <%= link_to samples_path do %>
            <%= image_tag 'home/explore_results2.png', class: 'img-responsive' %>
            <div class="panel-body">
              <h3>Explore the data we collect in the field and in our labs.</h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
