<% content_for :page_id do %>home<% end %>
<% content_for :logo do %>logo_uc.png<% end %>

<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <%= sanitize @page.body %>
      </div>

      <div class="col-md-4">
        <%= image_tag 'home/tidal_pool.jpg', class: 'img-responsive' %>
      </div>
    </div>

    <%= render partial: "home_stats_horizontal", locals: { stats: @stats } %>
  </div>

</section>

<%= render partial: "activities"%>
<%= render partial: "cta" %>
