<div class="page-header">
  <h1><%= @project.name %></h1>
</div>

<p><%= @project.description %></p>

<hr>

<h2>Samples</h2>

<div class="row">
  <div class="col-sm-6">
    <p>
      <%= pluralize(@project.samples.approved.count, 'sample') %> collected.
      <% if @project.samples.approved.count > 0 %>
        <%= render partial: 'samples_links', locals: {
          map_path: field_data_project_path(id: @project.id),
          list_path: field_data_project_path(id: @project.id, view: :list) } %>
      <% end %>
    </p>

    <p>
      <%= pluralize(@project.samples.analyzed.count, 'sample') %> being analyzed.
      <% if @project.samples.analyzed.count > 0 %>
        <%= render partial: 'samples_links', locals: {
          map_path: field_data_project_path(id: @project.id, status: :analyzed),
          list_path: field_data_project_path(id: @project.id, status: :analyzed, view: :list) } %>
      <% end %>
    </p>

    <p>
      <%= pluralize(@project.samples.results_completed.count, 'sample') %> with DNA results.
      <% if @project.samples.results_completed.count > 0 %>
        <%= render partial: 'samples_links', locals: {
          map_path: field_data_project_path(id: @project.id, status: :results_completed),
          list_path: field_data_project_path(id: @project.id, status: :results_completed, view: :list) } %>
      <% end %>
    </p>
  </div>

  <div class="col-sm-6">
    <div class="samples-menu">
      <%= render partial: "searches/form" %>
    </div>
  </div>
</div>




<% if params[:view] == 'list' %>
  <%= render partial: "samples/list",
    locals: { samples: @samples }  %>
<% else %>
  <%= render partial: "samples/map", locals: { samples: @samples,
  initial_lat: nil, initial_lng: nil } %>
<% end %>
