<h1><%= @project.name %></h1>

<p><%= @project.description %></p>

<hr>

<h2>Samples</h2>

<div class="row">
  <div class="col-sm-6">
    <p>
      <%= pluralize(@project.samples.count, 'sample') %> submitted.
    </p>

    <p>
      <%= pluralize(@project.samples.approved.with_coordinates.count, 'sample') %> approved.
      <% if @project.samples.approved.with_coordinates.count > 0 %>
        <%= render partial: 'samples_links', locals: {
          map_path: field_data_project_path(id: @project.id),
          list_path: field_data_project_path(id: @project.id, view: :list) } %>
      <% end %>
    </p>

    <p>
      <%= pluralize(@project.samples.processing_sample.with_coordinates.count, 'sample') %> being processed.
      <% if @project.samples.processing_sample.with_coordinates.count > 0 %>
        <%= render partial: 'samples_links', locals: {
          map_path: field_data_project_path(id: @project.id, status: :processing_sample),
          list_path: field_data_project_path(id: @project.id, status: :processing_sample, view: :list) } %>
      <% end %>
    </p>

    <p>
      <%= pluralize(@project.samples.results_completed.with_coordinates.count, 'sample') %> with DNA results.
      <% if @project.samples.results_completed.with_coordinates.count > 0 %>
        <%= render partial: 'samples_links', locals: {
          map_path: field_data_project_path(id: @project.id, status: :results_completed),
          list_path: field_data_project_path(id: @project.id, status: :results_completed, view: :list) } %>
      <% end %>
    </p>
  </div>

  <div class="col-sm-6">
    <div class="samples-menu">
      <%= render partial: "searches/form" %>
    </div>
  </div>
</div>

<% if params[:view] == 'list' %>
  <%= render partial: "list",
    locals: { samples: @samples, asvs_count: @asvs_count }  %>
<% else %>
  <%= render partial: "samples/map" %>
  <%= javascript_pack_tag 'projects_detail_map' %>
<% end %>
