<% content_for(:title) { 'Approve Samples' } %>
<% content_for(:javascript) { javascript_include_tag 'admin/batch_actions.js' } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body">

  <div class="samples-menu">
    <div class="btn-group" role="group" >
      <a data-action="approve_samples"  class="batch-action btn btn-default">
        Approve
      </a>
      <a data-action="reject_samples"  class="batch-action btn btn-default">
        Reject
      </a>
    </div>
  </div>

  <table>
    <tr>
      <th><%= check_box_tag :rows %></th>
      <th>Barcode</th>
      <th>Field Data Project</th>
      <th>Lat/Lng</th>
      <th>Photo</th>
    </tr>
    <% @samples.each do |sample| %>
    <tr class="js-table-rows" data-url="<%= admin_sample_path(sample.id) %>%">
      <td><%= check_box_tag :row, sample.id%> </td>
      <td><%= sample.barcode %></td>
      <td><%= sample.field_data_project.name %></td>
      <td><%= sample.latitude %> / <%= sample.longitude %></td>
      <td>
        <% sample.photos.each do |photo| %>
          <%= link_to admin_photo_path(photo) do %>
            <%= image_tag(photo.source_url)  %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</section>

<input type="hidden" data-data="" id="associated-data" >
<%= paginate @samples %>
