<% content_for(:title) { 'Approve Samples' } %>
<% content_for(:javascript) { javascript_include_tag 'admin/batch_actions.js' } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body">

  <div class="samples-menu">
    <div class="btn-group" role="group" >
      <a data-action="approve_samples"  class="batch-action btn btn-default">
        Approve
      </a>
      <a data-action="change_longitude_sign"  class="batch-action btn btn-default">
        Change Longitude Sign
      </a>
      <%= form_tag admin_labwork_edit_multiple_approvals_path, method: :post do |f| %>
      <%= submit_tag 'Batch Edit', class: "batch-action btn btn-default" %>
    </div>
  </div>

  <table class="no-auto-link">
    <tr>
      <th><%= check_box_tag :rows %></th>
      <th>Barcode</th>
      <th>Field Project</th>
      <th>Lat/Lng</th>
      <th>Photo</th>
    </tr>
    <% @samples.each do |sample| %>
    <tr>
      <td><%= check_box_tag 'batch_ids[]', sample.id, false, class: "row" %> </td>
      <td><%= link_to sample.barcode, admin_sample_path(sample.id) %></td>
      <td><%= link_to sample.field_project.name, admin_field_project_path(sample.field_project) %></td>
      <td>
        <% unless sample.inside_california? %>
          WARNING: coordinates are not in California.<br>
        <%end%>
        lat: <%= sample.latitude %><br>
        long: <%= sample.longitude %><br>
        precision: <%= sample.gps_precision %>
      </td>
      <td>
        <% sample.kobo_photos.each do |kobo_photo| %>
          <%= link_to admin_kobo_photo_path(kobo_photo) do %>
            <%= image_tag(kobo_photo.photo) if kobo_photo.photo.attachment %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
    <% end %>

  </table>
</section>

<input type="hidden" data-data="" id="associated-data" >
<%= paginate @samples %>
