<h1><%= @project.name %></h1>

<p><%= @project.description %></p>

<p>
  <%= pluralize(@project.samples.count, 'sample') %> collected.
  <% if @project.samples.count > 0 %>
    <%= render partial: 'samples_links', locals: {
      map_path: samples_path(project_id: @project.id),
      list_path: samples_path(project_id: @project.id, view: :list) } %>
  <% end %>
</p>

<p>
  <%= pluralize(@project.samples.analyzed.count, 'sample') %> being analyzed.
  <% if @project.samples.analyzed.count > 0 %>
    <%= render partial: 'samples_links', locals: {
      map_path: samples_path(project_id: @project.id, status: :analyzed),
      list_path: samples_path(project_id: @project.id, status: :analyzed, view: :list) } %>
  <% end %>
</p>

<p>
  <%= pluralize(@project.samples.results_completed.count, 'sample') %> with DNA results.
  <% if @project.samples.results_completed.count > 0 %>
    <%= render partial: 'samples_links', locals: {
      map_path: samples_path(project_id: @project.id, status: :results_completed),
      list_path: samples_path(project_id: @project.id, status: :results_completed, view: :list) } %>
  <% end %>
</p>
