<% content_for(:title) { 'Process Labwork' } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body">
  <h2>Kobo data</h2>

  <% if policy('Labwork::Kobo'.to_sym).import_kobo? %>
    <p>
      <%= link_to 'Import Kobo Projects', admin_labwork_import_kobo_path %>:
      Import projects and samples from Kobo.
    </p>
  <% end %>

  <% if policy('Labwork::ApproveSamples'.to_sym).index? %>
    <p>
      <%= link_to 'Approve Samples', admin_labwork_approve_samples_path %>:
      Approve samples submitted from Kobo.
    </p>
  <% end %>


  <h2>Import samples</h2>

  <% if policy('Labwork::ImportCsv'.to_sym).index? %>
    <p>
      <%= link_to 'Import Samples', admin_labwork_import_samples_path %>:
      Add samples for a research project via CSV upload.
      Use <%= link_to "Samples CSV", '/csv_templates/samples_metadata_template.csv' %> template.
    </p>
  <% end %>

  <h2>Import taxonomy from eDNA results</h2>

  <% if policy('Labwork::ImportCsv'.to_sym).index? %>
    <p>
      <%= link_to 'Import Taxonomy', admin_labwork_import_edna_results_taxa_path %>:
      Import taxonomy from eDNA results via CSV upload.
    </p>
  <% end %>

  <% if policy('Labwork::NormalizeTaxon'.to_sym).index? %>
    <p>
      <%= link_to 'Normalize Taxonomy', admin_labwork_normalize_ncbi_taxa_path	 %>:
      Match taxonomy from eDNA results to NCBI taxonomy.
    </p>
  <% end %>

  <h2>Import ASVs from eDNA results</h2>

  <% if policy('Labwork::ImportCsv'.to_sym).index? %>
    <p>
      <%= link_to 'Import ASVs', admin_labwork_import_edna_results_asvs_path %>:
      Import ASVs from eDNA results via CSV upload. Use CSVs produced by Anacapa, or
      use <%= link_to "eDNA results CSV", '/csv_templates/eDNA_results_template.csv' %> template.
    </p>
  <% end %>

</section>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    CSV Templates
  </h1>
</header>

<section class="main-content__body">
  <p>
    <%= link_to "Samples CSV", '/csv_templates/samples_metadata_template.csv' %>
  </p>
  <p>
    <%= link_to "eDNA results CSV", '/csv_templates/eDNA_results_template.csv' %>
  </p>
  <p>
</section>
