<% content_for(:title) { 'Process Labwork' } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body">
  <h3>Kobo</h3>
  <ol>
    <% if policy('Labwork::Kobo'.to_sym).import_kobo? %>
      <li>
        <%= link_to 'Import Kobo Projects', admin_labwork_import_kobo_path %>:
        import projects and sample from Kobo
      </li>
    <% end %>
    <% if policy('Labwork::ApproveSamples'.to_sym).index? %>
      <li>
        <%= link_to 'Approve Samples', admin_labwork_approve_samples_path %>:
        approve samples submitted by citizen scientists and researchers
      </li>
    <% end %>
  </ol>

  <h3 class="subtitle">Import Samples</h3>
  <p>Use "Samples CSV" template</p>

  <ol>
    <% if policy('Labwork::ImportCsv'.to_sym).index? %>
      <li>
        <%= link_to 'Import Samples for Research Project', admin_labwork_import_samples_path %>:
        Add samples for a research project via CSV upload
      </li>
    <% end %>
  </ol>

  <h3>Assign Processor</h3>
  <ol>
    <% if policy('Labwork::AssignSamples'.to_sym).index? %>
      <li>
        <%= link_to 'Assign Samples', admin_labwork_assign_samples_path %>:
        assign samples to sample processors
      </li>
    <% end %>
  </ol>

  <h3 class="subtitle">Processing eDNA</h3>
  <p>Use "Processing eDNA" template</p>

  <ol>
    <% if policy('Labwork::ProcessExtractions'.to_sym).index? %>
      <li>
        <%= link_to 'Processing eDNA', admin_labwork_process_extractions_path %>:
        Add info about processing eDNA samples via a form
      </li>
    <% end %>

    <% if policy('Labwork::ImportCsv'.to_sym).index? %>
      <li>
        <%= link_to 'Import Processing eDNA', admin_labwork_import_processing_extractions_path %>:
        Add info about processing eDNA samples via CSV upload
      </li>
    <% end %>
  </ol>

  <h3 class="subtitle">Create taxonomy from eDNA test results</h3>

  <ol>
    <% if policy('Labwork::ImportCsv'.to_sym).index? %>
      <li>
        <%= link_to 'Import Taxonomy from DNA Results', admin_labwork_import_results_taxa_path %>:
        Import taxonomy from DNA test results via CSV upload
      </li>
    <% end %>
    <% if policy('Labwork::NormalizeTaxon'.to_sym).index? %>
      <li>
        <%= link_to 'Normalize Taxonomy from DNA Results', admin_labwork_normalize_ncbi_taxa_path	 %>:
        Match taxonomy from test results to NCBI taxonomy
      </li>
    <% end %>
  </ol>

  <h3 class="subtitle">Import ASVs from eDNA test results</h3>
  <p>Use "DNA test results CSV" template</p>

  <ol>
    <% if policy('Labwork::ImportCsv'.to_sym).index? %>
      <li>
        <%= link_to 'Import ASV form DNA Results', admin_labwork_import_results_asvs_path %>:
        Import ASVs from DNA test results via CSV upload
      </li>
    <% end %>
  </ol>
</section>


<% if policy(:ReseedDatabase).delete? %>
<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    Reset Database Data
  </h1>
</header>

<section class="main-content__body">
  <ul>
    <li>
      <%= link_to "Delete labwork data", admin_delete_labwork_data_path, data: {confirm: "You sure?"} %>:
      delete all ASVs, extractions, custom taxons
    </li>

    <li>
      <%= link_to "Delete fieldwork data", admin_delete_fieldwork_data_path, data: {confirm: "You sure?"} %>:
      delete all samples, photos, fieldwork projects, research projects
    </li>
  </ul>
</section>
<% end %>


<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    CSV Templates
  </h1>
</header>

<section class="main-content__body">
  <ul>
    <li>
      <%= link_to "Samples CSV", '/csv_templates/samples.csv' %>
    </li>
  </ul>
</section>
