<% content_for(:title) { 'Process Samples' } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body">
  <h2>Instructions</h2>
  Instructions on how to import samples and eDNA results are in this
  <a href="https://docs.google.com/document/d/1HqDkL2UPJXzSA-y1dzg1lNuA2VPbglnMe7QOgkplwq4/edit#heading=h.rs6oss6kjauv">Google Doc</a>.

  <% if policy('Labwork::Kobo'.to_sym).import_kobo? || policy('Labwork::ApproveSamples'.to_sym).index? %>
    <h2>Kobo data</h2>
  <% end %>

  <% if policy('Labwork::Kobo'.to_sym).import_kobo? %>
    <p>
      <%= link_to 'Import Kobo Projects', admin_labwork_import_kobo_path %>:
      Import projects and samples from Kobo.
    </p>
  <% end %>

  <% if policy('Labwork::ApproveSamples'.to_sym).index? %>
    <p>
      <%= link_to 'Approve Samples', admin_labwork_approve_samples_path %>:
      Approve samples submitted from Kobo.
    </p>
  <% end %>

  <% if policy('Labwork::ImportCsv'.to_sym).index? %>
    <h2>Import samples</h2>

    <p>
      <%= link_to 'Import Samples', admin_labwork_import_samples_path %>:
      Add samples for a research project via CSV upload.
      Use <%= link_to "Samples CSV", '/csv_templates/samples_metadata_template.csv' %> template.
    </p>
  <% end %>

  <% if policy('Labwork::ImportCsv'.to_sym).index? || policy('Labwork::NormalizeTaxon'.to_sym).index? %>
    <h2>Check taxonomy from eDNA results</h2>
  <% end %>

  <% if policy('Labwork::ImportCsv'.to_sym).index? %>
    <p>
      <%= link_to 'Check Taxonomy', admin_labwork_import_edna_results_taxa_path %>:
      Check if taxonomy from eDNA results exists in the database. Use CSVs produced by Anacapa, or
      use <%= link_to "eDNA results CSV", '/csv_templates/eDNA_results_template.csv' %> template.
    </p>
  <% end %>

  <% if policy('Labwork::NormalizeTaxon'.to_sym).index? %>
    <p>
      <%= link_to 'Normalize Taxonomy', admin_labwork_normalize_ncbi_taxa_path	 %>:
      Match taxonomy from eDNA results to NCBI taxonomy.
    </p>
  <% end %>

  <% if policy('Labwork::ImportCsv'.to_sym).index? %>
    <h2>Import ASVs from eDNA results</h2>

    <p>
      <%= link_to 'Import ASVs', admin_labwork_import_edna_results_asvs_path %>:
      Import ASVs from eDNA results via CSV upload. Use CSVs produced by Anacapa, or
      use <%= link_to "eDNA results CSV", '/csv_templates/eDNA_results_template.csv' %> template.
    </p>

    <p>
      <%= link_to 'Update Taxa Counts', admin_labwork_taxa_asvs_count_path %>:
      For each taxa, update the number of samples that contain that taxa.
    </p>
  <% end %>

  <h2>Import Status</h2>
  Check the <%= link_to 'status of the CSV imports', admin_labwork_import_csv_status_index_path %>

</section>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    CSV Templates
  </h1>
</header>

<section class="main-content__body">
  <p>
    <%= link_to "Samples CSV", '/csv_templates/samples_template.csv' %>
  </p>
  <p>
    <%= link_to "eDNA results CSV", '/csv_templates/eDNA_results_template.csv' %>
  </p>
</section>
