<% content_for(:title) { 'Process Labwork' } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body">
  <ol>
    <% if policy('Labwork::Kobo'.to_sym).import_kobo? %>
      <li>
        <%= link_to 'Import Kobo Projects', admin_labwork_import_kobo_path %>:
        import projects and sample from Kobo
      </li>
    <% end %>

    <% if policy('Labwork::ApproveSamples'.to_sym).index? %>
      <li>
        <%= link_to 'Approve Samples', admin_labwork_approve_samples_path %>:
        approve samples submitted by citizen scientists and researchers
      </li>
    <% end %>

    <% if policy('Labwork::AssignSamples'.to_sym).index? %>
      <li>
        <%= link_to 'Assign Samples', admin_labwork_assign_samples_path %>:
        assign samples to sample processors
      </li>
    <% end %>

    <% if policy('Labwork::ProcessExtractions'.to_sym).index? %>
      <li>
        <%= link_to 'Process Extractions', admin_labwork_process_extractions_path %>:
        enter extraction data
      </li>
    <% end %>

    <% if policy('Labwork::ImportCsv'.to_sym).index? %>
      <li>
        <%= link_to 'Import Samples for Research Project', admin_labwork_import_samples_path %>:
        Add samples for a research project via CSV upload
      </li>
    <% end %>

    <% if policy('Labwork::ImportCsv'.to_sym).index? %>
      <li>
        <%= link_to 'Import Taxonomy from DNA Results', admin_labwork_import_results_taxa_path %>:
        Import taxonomy from DNA test results via CSV upload
      </li>
    <% end %>

    <% if policy('Labwork::NormalizeTaxon'.to_sym).index? %>
      <li>
        <%= link_to 'Normalize Taxonomy from DNA Results', admin_labwork_normalize_taxa_path	 %>:
        Create new taxa from DNA test results
      </li>
    <% end %>

    <% if policy('Labwork::ImportCsv'.to_sym).index? %>
      <li>
        <%= link_to 'Import ASV form DNA Results', admin_labwork_import_results_asvs_path %>:
        Import ASVs from DNA test results via CSV upload
      </li>
    <% end %>
  </ol>
</section>


<% if policy(:ReseedDatabase).delete? %>
<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    Reset Database Data
  </h1>
</header>

<section class="main-content__body">
  <ul>
    <li>
      <%= link_to "Delete labwork data", admin_delete_data_path, data: {confirm: "You sure?"} %>:
      delete all ASVs, extractions, custom taxons
    </li>
  </ul>
</section>
<% end %>


<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    CSV Templates
  </h1>
</header>

<section class="main-content__body">
  <ul>
    <li>
      <%= link_to "Samples CSV", '/csv/example.samples.csv'  %>
    </li>
    <li>
      <%= link_to "DNA test results CSV", '/csv/example.test_results.csv'  %>
    </li>
  </ul>
</section>
