<% content_for(:title) { 'Process Labwork' } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body">
  <ul>
    <% if policy('Labwork::Kobo'.to_sym).import_kobo? %>
      <li>
        <%= link_to 'Import Kobo Projects', admin_labwork_import_kobo_path %>:
        import projects and sample from Kobo
      </li>
    <% end %>

    <% if policy('Labwork::ApproveSamples'.to_sym).index? %>
      <li>
        <%= link_to 'Approve Samples', admin_labwork_approve_samples_path %>:
        approve samples submitted by citizen scientists and researchers
      </li>
    <% end %>

    <% if policy('Labwork::AssignSamples'.to_sym).index? %>
      <li>
        <%= link_to 'Assign Samples', admin_labwork_assign_samples_path %>:
        assign samples to sample processors
      </li>
    <% end %>

    <% if policy('Labwork::ProcessExtractions'.to_sym).index? %>
      <li>
        <%= link_to 'Process Extractions', admin_labwork_process_extractions_path %>:
        enter extraction data
      </li>
    <% end %>

    <% if policy('Labwork::ImportCsv'.to_sym).index? %>
      <li>
        <%= link_to 'Import Samples csv', admin_labwork_samples_csv_path %>:
        create or update samples via csv upload
      </li>
    <% end %>

    <% if policy('Labwork::DnaResult'.to_sym).index? %>
      <li>
        <%= link_to 'Normalize Taxonomy from DNA Results', admin_labwork_taxa_path %>:
        Add new taxonomy from DNA test results
      </li>
    <% end %>

    <% if policy('Labwork::DnaResult'.to_sym).index? %>
      <li>
        <%= link_to 'Process DNA Results', admin_labwork_asvs_path %>:
        upload DNA results csv
      </li>
    <% end %>
  </ul>
</section>


<% if policy(:ReseedDatabase).delete? %>
<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    Reset Database Data
  </h1>
</header>

  <section class="main-content__body">
    <ul>
      <li>
        <%= link_to "Delete data", admin_delete_data_path, data: {confirm: "You sure?"} %>:
        delete all field data projects, samples, extractions, ASVs, photos
      </li>
      <li>
        <%= link_to "Delete data and create demo data", admin_delete_and_seed_data_path, data: {confirm: "You sure?"} %>:
        delete all field data projects, samples, extractions, ASVs, photos,
        then create a Demo project with samples, extractions, and ASVs
      </li>
    </ul>
  </section>
<% end %>
