<% content_for(:title) { 'Import ASVs from eDNA results' } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body">
  <p>Upload CSV to import ASVs from eDNA results.</p>

  <%= form_tag admin_labwork_import_edna_results_asvs_path, multipart: true do %>
    <%= select(:dna_results, :research_project_id, @projects, {include_blank: 'Select research project'}) %>
    <%= select(:dna_results, :primer, Extraction::METABARCODING_PRIMERS, {include_blank: 'Select primer'}) %>

    <%#= select(:dna_results, :extraction_type_id, @extraction_types, {include_blank: 'Select extraction type'}) %>
    <%= hidden_field(:dna_results, :extraction_type_id, value: ExtractionType.first.id) %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
</section>
