<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

  <h1>Researcher: Log in</h1>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :login, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "researchers/shared/links" %>

</div>
