<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand sm-12">
        <a href="/">
          <%= image_tag 'river/river-logo.png', id: 'logo' %>
        </a>
      </div>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li role="presentation" class="dropdown <%= 'active' if about_active? %>">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <ul class="dropdown-menu">
            <%= nav_link 'Our Mission', our_mission_path %>
            <%= nav_link 'Our Team', our_team_path %>
            <%= nav_link 'Why Protect Biodiversity?', why_protect_biodiversity_path %>
            <%= nav_link 'FAQ', faq_path %>
            <%= nav_link 'Contact Us', contact_us_path %>
          </ul>
        </li>

        <li role="presentation" class="dropdown <%= 'active' if explore_data_active? %>">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Explore Data
          </a>
          <ul class="dropdown-menu">
            <%= nav_link 'Sites', samples_path %>
            <%= nav_link 'River Explorer', river_explorer_path %>
            <%= nav_link 'Sampling Locations', places_path %>
            <%= nav_link 'Research Projects', research_projects_path %>
            <%= nav_link 'Identified Organisms', taxa_path %>
            <li class="divider"></li>
            <%= nav_link 'How are Samples Analyzed?', samples_analyzed_path %>
            <%= nav_link 'Disclaimer', disclaimer_path %>
          </ul>
        </li>

        <li role="presentation" class="dropdown <%= 'active' if get_involved_active? %>">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Get Involved
          </a>
          <ul class="dropdown-menu">
            <%= nav_link 'Get Involved', get_involved_path %>
            <%= nav_link 'River Stories', river_stories_path %>
            <%= nav_link 'Events', events_path %>
            <%= nav_link 'Donate', donate_path %>
          </ul>
        </li>

        <li role="presentation" class="dropdown <%= 'active' if news_active? %>">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            News
          </a>
          <ul class="dropdown-menu">
            <%= nav_link 'News', site_news_index_path %>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <% if current_user %>

          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_user.username %>
            </a>
            <ul class="dropdown-menu">
              <%= nav_link "Profile", profile_path %>
              <%= nav_link "Settings", edit_user_registration_path %>
            </ul>
          </li>

          <li><%= link_to 'Sign Out', destroy_user_session_path %></li>
        <% else %>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
