<!DOCTYPE html>
<html lang="en">
  <head>
    <% if Rails.env.production? %>
      <%= render partial: "layouts/river/analytics" %>
    <% end %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <title>Caledna</title>
    <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:extra-bold&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/britecharts@2.9.6/dist/css/britecharts.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.0/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.2.0/dist/MarkerCluster.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.2.0/dist/MarkerCluster.Default.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@4"></script>
  <script src="https://kit.fontawesome.com/0919e6a4cb.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/leaflet@1.3.0/dist/leaflet.js"
  integrity="sha512-C7BBF9irt5R7hqbUm2uxtODlUVs+IsNu2UULGuZN7gM+k/mmeG4xvIEac01BtQa4YIkUpp23zZC4wIwuXaPMQA=="
  crossorigin=""></script>
  <script src="https://unpkg.com/leaflet.markercluster@1.2.0/dist/leaflet.markercluster.js"></script>
  <%= stylesheet_link_tag    'river/application', media: 'all' %>
  <%= javascript_include_tag 'river/application' %>
  </head>

  <body id="<%= yield :page_id %>">
    <div id="main-wrapper">
      <%= render partial: "layouts/river/nav" %>

      <div class="container main-container">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, sanitize(msg), class: flash_class(name) %>
        <% end -%>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <%= yield %>
          </div>
        </div>
      </div>

      <%= render partial: "layouts/river/footer" %>
    <div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
  </body>
</html>
