<% content_for :page_id do %>survey<% end %>

<h1><%= @survey.name %></h1>
<ul class="submenu">
  <li><a href="http://www.ucedna.com/become-a-community-scientist/">Intro</a></li>
  <li><a href="http://www.ucedna.com/safety-training/">Safety Training</a></li>
  <li><a href="http://www.ucedna.com/kit-training/">Kit Training</a></li>
  <li><%= link_to 'Safety Training Quiz', survey_path('safety-training-quiz') %></li>
  <li><%= link_to 'Kit Training Quiz', survey_path('kit-training-quiz') %></li>
</ul>

<p><%= @survey.description %></p>
<%= simple_form_for @survey, url: survey_survey_responses_path(survey_id: @survey.id), method: :post do |form| %>
  <ol class="survey-questions">
    <% @survey.survey_questions.order(:order_number).each do |question| %>
      <li><%= question.content %></li>
      <%= form.simple_fields_for 'survey_question[]', question do |form_q| %>
        <% if question.check_boxes? %>
          <%= form_q.collection_check_boxes :survey_options,
            question.survey_options.order(:id), :id, :content,
            item_label_class: 'checkbox' %>
        <% elsif question.multiple_choice? %>
          <%= form_q.collection_radio_buttons :survey_options,
            question.survey_options.order(:id), :id, :content,
            item_label_class: 'radio' %>
        <% end %>
      <% end %>
    <% end %>
  </ol>

  <%= form.submit 'Submit Quiz', class: 'btn btn-primary btn-lg' %>
<% end %>
