<% path_params = { field_data_project_id: params[:field_data_project_id], status: params[:status],
  lat: params[:lat], lng: params[:lng], zoom: params[:zoom], sample_id: params[:sample_id] } %>

<h1>Samples: <%= @query %></h1>

<div class="samples-menu">
  <div class="btn-group" role="group" >
    <a href="<%= search_path(search: { query: @query }) %>" class="btn btn-default">
      <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Map
    </a>
    <a href="<%= search_path(search: { query: @query }, view: :list) %>" class="btn btn-default">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> List
    </a>
  </div>

  <a href="<%= samples_path %>" class="btn btn-default">
    <span class="glyphicon glyphicon glyphicon-refresh" aria-hidden="true"></span> View All
  </a>

  <%= render partial: "searches/form" %>
</div>

<% if params[:view] == 'list' %>
  <%= render partial: "samples/list", locals: { samples: @samples }  %>
<% else %>
  <%= render partial: "samples/map", locals: { samples: @samples,
  initial_lat: params[:lat], initial_lng: params[:lng] } %>
<% end %>
