<div id='mapid'></div>

<script>
(function(){

  var addressPoints = [
  <% samples.each do |sample|  %>
    <% next if sample.latitude.blank? || sample.longitude.blank? %>
    [
      <%= sample.latitude %>,
      <%= sample.longitude %>,
      <%= sample.id %>,
      "<%= sample.barcode %>",
      '<%= link_to sample.field_data_project_name,  field_data_project_path(id: sample.field_data_project_id) %>',
      '<%= link_to sample.barcode, sample_path(id: sample.id) %>',
      '<%= sample.status %>',
      '<%= SamplesHelper.asvs_count(asvs_count, sample) %>'
    ],
  <% end %>
  ]

  var iNatPoints = [
    <% inat_observations.each do |obs| %>
      <% next if obs.decimalLatitude.blank? || obs.decimalLongitude.blank? %>
      [
        <%= obs.decimalLatitude %>,
        <%= obs.decimalLongitude %>,
        <%= obs.id %>,
        '<%= obs.scientificName %>',
        '<%= obs.occurrenceID %>',
      ],
    <% end %>
  ]



  var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 30,
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Points &copy 2012 LINZ'
  });


  var redIcon = L.icon({
    iconUrl: '<%= image_path "pin.png" %>',
    iconSize: [20, 35],
  })


  var initialLat = <%= initial_lat || 37.49 %>
  var initialLng =  <%= initial_lng || -122.48 %>
  var latlng = L.latLng(initialLat, initialLng);
  var map = L.map('mapid', {
    center: latlng, zoom: <%= params[:zoom] || 13 %>,
    layers: [tiles],
    preferCanvas: true
  });

  var markers = L.markerClusterGroup({ disableClusteringAtZoom: 13 });


    for (var i = 0; i < iNatPoints.length; i++) {
    var a = iNatPoints[i];
    var lat = a[0];
    var lng = a[1];
    var id = a[2];
    var taxon = a[3];
    var url = a[4];

    var body = '<b>Lat/Long</b>: ' + lat + ', ' + lng + '<br>' +
      '<b>Source</b>: <a href="' + url + '">iNaturalist ' + id + '</a><br>' +
      '<b>Species</b>: ' + taxon;


   var circleMarker = L.circleMarker(L.latLng(lat, lng), {color: '#3388ff' }).addTo(map);
   circleMarker.bindPopup(body);

  }


  for (var i = 0; i < addressPoints.length; i++) {
    var a = addressPoints[i];
    var lat = a[0];
    var lng = a[1];
    var id = a[2];
    var barcode = a[3];
    var projectName = a[4];
    var sampleLink = a[5];
    var status = a[6];
    var asvsCount = a[7];
    var body =
      '<b>Sample:</b> ' + sampleLink + '<br>' +
      '<b>Project:</b> ' + projectName + '<br>' +
      '<b>Lat/Long</b>: ' + lat + ', ' + lng + '<br>' +
      '<b>Status</b>: ' + status + '<br>' +
      '<b>Organism count</b>: ' + asvsCount + '<br>';
    var marker = L.marker(L.latLng(lat, lng), { title: 'Sample ' + barcode });
    marker.bindPopup(body);
    markers.addLayer(marker);
  }

  map.addLayer(markers);

})()
</script>
