<table class="table">
  <tr>
    <th>Occurence</th>
    <th>Latitude/Longitude; GPS Precision</th>
    <th>Organisms</th>
  </tr>

  <% occurences.each do |occurence| %>
    <% if occurence.is_a?(Sample)%>
    <tr class="clickable_row" data-path="<%= sample_path(occurence) %>">
      <td><%= link_to occurence.barcode, sample_path(occurence) %></td>
      <td>
        <%= occurence.latitude %>, <%= occurence.longitude %>; <%= occurence.gps_precision %>
      </td>
      <td><%= SamplesHelper.asvs_count(asvs_count, occurence) %></td>
    </tr>
    <% else %>
      <tr>
        <td><%= link_to occurence.id, occurence.occurrenceID %></td>
        <td>
          <%= occurence.decimalLatitude %>, <%= occurence.decimalLongitude %>
        </td>
        <td>
          <%= occurence.kingdom %>,
          <%= occurence.phylum %>,
          <%= occurence.className %>,
          <%= occurence.order %>,
          <%= occurence.family %>,
          <%= occurence.genus %>,
          <%= occurence.scientificName %>,
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= paginate occurences %>

<script>
(function(){

  // ======================
  // app state
  // ======================
  var sources = { cal: true, inat: true }

  // ======================
  // select elements
  // ======================

  var sourceEls = document.querySelectorAll('.js-source-list')
  sourceEls.forEach(function(el){
    el.addEventListener('click', chooseSourceHandler)
  })
  // ======================
  // click handlers
  // ======================

  function chooseSourceHandler(e) {
    source = e.target.dataset.source

    var location = window.location
    if (source == 'cal') {
      location.href = location.origin + location.pathname + '?view=list'
    } else if (source == 'inat') {
      location.href = location.origin + location.pathname + '?view=list&source=inat'
    }
  }

})()
</script>
