<h1>Research Projects</h1>

<div class="cal-stats-container">
  <ul>
    <li><%= pluralize(number_with_delimiter(@samples_with_results_count), 'Site')%> with results</li>
    <li><%= pluralize(number_with_delimiter(@taxa_count), 'Taxon') %></li>
    <li><%= pluralize(number_with_delimiter(@families_count), 'Family') %></li>
  </ul>
</div>

<p class="page-description">
  Here's some reasearch projects that are studying our eDNA data.
</p>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Approved Sites</th>
  </tr>

  <% @projects.each do |project| %>
    <tr class="clickable_row" data-path='<%=  research_project_path(id: project.slug)%>' >
      <td><%= project.name %></td>
      <td><%= project.count %></td>
    </tr>
  <% end %>
</table>

<%= paginate @projects %>
