<h1><%= @project.name %></h1>
<%= render partial: "research_projects/submenu" %>

<h2><%= @page.title %></h2>
<%= sanitize @page.body %>

<div class="clearfix"></div>

<% if params[:id] == 'area-diversity' %>
  <%= render partial: "research_projects/la_river/area_diversity" %>

<% elsif params[:id] == 'detection-frequency' %>
  <%= render partial: "research_projects/la_river/detection_frequency" %>

<% elsif params[:id] == 'overview' %>
  <%= render partial: "research_projects/la_river/occurrence_comparison" %>

<% elsif params[:id] == 'intro' %>

<% elsif params[:id] == 'sites' %>
  <%= render partial: "research_projects/la_river/sites_map" %>

<% elsif params[:id] == 'tree-of-life' %>
  <%= render partial: "research_projects/la_river/tree_of_life" %>

<% end %>




