<style>
.section-content {
  margin-bottom: 2rem;
}
</style>

<% if @project.present? && @page.present? %>
  <h1><%= @project.name %></h1>
<%= render partial: "research_projects/submenu" %>

  <h2>
    <%= @page.title%>
    <% if current_researcher %>
    <%= link_to 'Edit',
      edit_research_project_page_path(research_project_id: params[:research_project_id], id: params[:id]) ,
      class: "btn btn-primary"
    %>
    <% end %>
  </h2>

  <div class="section-content"><%= sanitize @page.body %></div>

  <% if params[:id] == 'occurrence_comparison' %>
    <%= render partial: "research_projects/pillar_point/occurrence_comparison" %>
  <% elsif params[:id] == 'gbif_breakdown' %>
    <%= render partial: "research_projects/pillar_point/gbif_breakdown" %>
  <% elsif params[:id] == 'interactions' %>
    <%= render partial: "research_projects/pillar_point/interactions" %>
  <% elsif params[:view] == 'list' %>
    <%= render partial: "research_projects/pillar_point/intro" %>
    <%= render partial: "research_projects/pillar_point/samples_menu" %>
    <%= render partial: "research_projects/pillar_point/list",
      locals: { occurrences: @occurrences, asvs_count: @asvs_count }  %>
  <% elsif params[:id] == 'common_taxa' %>
    <%= render partial: "research_projects/pillar_point/common_taxa" %>
  <% elsif params[:id] == 'area_diversity' %>
    <%= render partial: "research_projects/pillar_point/area_diversity" %>
  <% elsif params[:id] == 'edna_gbif_comparison' %>
    <%= render partial: "research_projects/pillar_point/edna_gbif_comparison" %>
  <% elsif params[:id] == 'detection_frequency' %>
    <%= render partial: "research_projects/pillar_point/detection_frequency" %>
  <% elsif params[:id] == 'taxonomy_comparison' %>
    <%= render partial: "research_projects/pillar_point/taxonomy_comparison" %>
  <% elsif params[:id] == 'networks' %>
    <%= render partial: "research_projects/pillar_point/networks" %>
  <% elsif params[:id] == 'intro' %>
    <%= render partial: "research_projects/pillar_point/intro" %>
    <%= render partial: "research_projects/pillar_point/samples_menu" %>
    <%= render partial: "research_projects/pillar_point/map", locals: { samples: @samples,
      asvs_count: @asvs_count,
      inat_observations: @inat_observations,
      initial_lat: nil, initial_lng: nil } %>
  <% end %>
<% end %>
