<% list_view = params[:view] == 'list' %>

<% if @project.present? %>
  <h1><%= @project.name %></h1>

  <p><%= @project.description %></p>

  <h2>Samples</h2>

  <div class="samples-menu">
    <div class="btn-group" role="group" >
      <a href="<%= research_project_path(id: params[:id]) %>" class="<%= pill_menu_classes(!list_view) %>">
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Map
      </a>
      <a href="<%= research_project_path(id: params[:id], view: :list) %>" class="<%= pill_menu_classes(list_view) %>">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> List
      </a>
    </div>
  </div>

  <% if params[:view] == 'list' %>
    <%= render partial: "samples/list",
      locals: { samples: @samples, asvs_count: @asvs_count }  %>
  <% else %>
    <%= render partial: "samples/map" %>
    <%= javascript_pack_tag 'projects_detail_map' %>
  <% end %>

<% end %>
