<% if @project.present? %>
  <h1><%= @project.name %></h1>

  <h2>Sites</h2>

  <div id="projects-details-map"></div>
  <%= javascript_pack_tag 'research_projects_details_map' %>
  <%= stylesheet_pack_tag 'research_projects_details_map' %>


  <script>
  (function(){

    window.caledna = {}
    <% if @project.map_latitude %>
      window.caledna.mapLatitude = <%= @project.map_latitude  %>
    <% end %>
    <% if @project.map_longitude %>
      window.caledna.mapLongitude = <%= @project.map_longitude  %>
    <% end %>
    <% if @project.map_zoom %>
      window.caledna.mapZoom = <%= @project.map_zoom  %>
    <% end %>

  })()
  </script>

<% end %>
