<div class="page-header">
  <h1><%= @project.name %></h1>
</div>

<p><%= @project.description %></p>

<% if @taxa.present? %>
<h2>Organisms from ASVs</h2>
<ul>
<% @taxa.each do |taxon| %>
  <li>
    <%= taxon.taxonRank %>:
    <%= link_to taxon.canonicalName, taxon_path(taxon) %>
    <%= taxon.common_names %>
  </li>
<% end %>
</ul>
<% end %>

<h2>Samples</h2>

<div class="samples-menu">
  <div class="btn-group" role="group" >
    <a href="<%= research_project_path(id: params[:id]) %>" class="btn btn-default">
      <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Map
    </a>
    <a href="<%= research_project_path(id: params[:id], view: :list) %>" class="btn btn-default">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> List
    </a>
  </div>
</div>

<% if params[:view] == 'list' %>
  <%= render partial: "samples/list",
    locals: { samples: @samples, asvs_count: @asvs_count }  %>
<% else %>
  <%= render partial: "samples/map", locals: { samples: @samples,
  asvs_count: @asvs_count,
  initial_lat: nil, initial_lng: nil } %>
<% end %>
