<% content_for :hero_container do %>
<div class="cal-hero-container">
  <ul>
    <li><%= pluralize(number_with_delimiter(@users_count), 'User') %></li>
    <li><%= pluralize(number_with_delimiter(@events_count), 'BioBlitz') %></li>
    <li><%= pluralize(number_with_delimiter(@samples_count), 'Site') %></li>
  </ul>
</div>
<% end %>


<h1>Field Projects</h1>
<p class="page-description">
  Here's all the events where community scientists and researchers collected
  soil and sediment samples.
</p>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Approved Sites</th>
  </tr>

  <% @projects.each do |project| %>
    <tr class="clickable_row" data-path='<%=  field_project_path project%>' >
      <td><%= project.name %></td>
      <td><%= project.samples.approved.with_coordinates.count %> </td>
    </tr>
  <% end %>
</table>

<%= paginate @projects %>
