<h1><%= @project.name %></h1>

<% if @project.image.attachment.present? %>
  <div><%= image_tag @project.image, class: 'img-responsive' %></div>
<% end %>

<p><%= @project.description %></p>

<hr>

<h2>Sites</h2>

<div id="projects-details-map"></div>
<%= javascript_pack_tag 'field_projects_details_map' %>
<%= stylesheet_pack_tag 'field_projects_details_map' %>
