<% content_for(:title) { 'Import Processing eDNA' } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body">
  <p>Upload CSV to add info about processing the eDNA samples.</p>

  <%= form_tag admin_labwork_import_processing_extractions_path, multipart: true do %>
    <%= select(:extractions, :research_project_id, @projects, {include_blank: 'Select research project'}) %>
    <%= select(:extractions, :extraction_type_id, @extraction_types, {include_blank: 'Select extraction type'}) %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
</section>
