<h1><%= @project.name %></h1>
<%= render partial: "research_projects/submenu" %>

<h2>
  <%= @page.title %>
</h2>
<%= sanitize @page.body %>

<% if params[:id] == 'appendix' %>
  <%= render partial: "appendix" %>
<% end %>
