<% content_for :page_id do %>home<% end %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
         <%= sanitize @block_1&.content %>
      </div>

      <div class="col-md-4">
        <% if @block_1.image.attachment %>
          <%= image_tag @block_1&.image, class: "img-responsive" %>
        <% end %>
      </div>
     </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
         <%= sanitize @block_2&.content %>
      </div>

      <div class="col-md-4">
        <h3>What we've sampled so far.</h3>
        <ul class="home-stats">
          <li><%= pluralize(@stats[:locations], 'L.A. river location') %></li>
          <li><%= pluralize(@stats[:sites], 'sampling site') %></li>
          <li><%= pluralize(@stats[:taxa], 'identified organism') %></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 m-t-sm">
         <%= sanitize @block_3&.content %>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="activities">
      <div class="item">
        <%= link_to our_mission_path do %>
          <%= image_tag 'river/bird_circle.jpg' %>
          <h3>Our Mission</h3>
          <p>Learn more about this project's goals and roadmap.</p>
        <% end %>
      </div>

      <div class="item">
        <%= link_to samples_path do %>
          <%= image_tag 'river/explore_data.jpg' %>
          <h3>Explore our Data</h3>
          <p>Explore biological and environmental data about the LA River.</p>
        <% end %>
      </div>

      <div class="item">
        <%= link_to river_stories_path do %>
          <%= image_tag 'river/river_stories.png' %>
          <h3>River Stories</h3>
          <p>Share your stories of what the LA River means to you.</p>
        <% end %>
      </div>

      <div class="item">
        <%= link_to get_involved_path do %>
          <%= image_tag 'river/get_involved.jpg' %>
          <h3>Getting Involved</h3>
          <p>Discover the various ways to get involved in this project.</p>
        <% end %>
      </div>

      <div class="item">
        <%= link_to site_news_index_path do %>
          <%= image_tag 'river/news.png' %>
          <h3>News</h3>
          <p>Read the latest news about this project.</p>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="news">
  <div class="container">
    <div class="row">
      <h2 class="p-l-sm p-r-sm">Latest News</h2>
      <% @news.each do |site_news| %>
        <div class="col-md-4 col-sm-6">
          <% if site_news.image.attachment %>
            <%= link_to(image_tag(site_news.image.variant(resize: "400x400"), class: "img-responsive p-b-sm"),
              site_news_path(site_news))
            %>
          <% end %>
           <p><%= link_to site_news.title, site_news_path(site_news) %>
           <br><%= long_date(site_news.published_date) %>
           </p>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section class="donate-block  text-center">
  <div class="container">
    <%= sanitize @block_donate&.content %>
  </div>
</section>
