<p>
  canonical name: <%= suggestion.canonicalName %><br>
  scientific name: <%= suggestion.scientificName %><br>
  kingdom: <%= suggestion.kingdom %><br>
  phylum: <%= suggestion.phylum %><br>
  class: <%= suggestion.className %><br>
  order: <%= suggestion.order %><br>
  family: <%= suggestion.family %><br>
  genus: <%= suggestion.genus %><br>
  <% if suggestion.specificEpithet %>
    species: <%= suggestion.genus %> <%= suggestion.specificEpithet %><br>
  <% end %>
  source: <%= suggestion.taxa_dataset.name %><br>
  status: <%= suggestion.taxonomicStatus %><br>
  <% if suggestion.acceptedNameUsageID.present? %>
    also see: <%= suggestion.accepted.canonicalName %><br>
  <% end %>

  <%= simple_form_for @cal_taxon, url: admin_labwork_normalize_taxon_update_existing_path(@cal_taxon), method: :put do |f| %>
    <%= f.hidden_field :taxonID, value: suggestion.taxonID  %>
    <%= f.submit 'Use this taxon' %>
  <% end %>
</p>
<hr>
