<p>
  kingdom: <%= suggestion.kingdom %><br>
  phylum: <%= suggestion.phylum %><br>
  class: <%= suggestion.className %><br>
  order: <%= suggestion.order %><br>
  family: <%= suggestion.family %><br>
  genus: <%= suggestion.genus %><br>
  <% if suggestion.specificEpithet %>
    species: <%= suggestion.genus %> <%= suggestion.specificEpithet %><br>
  <% end %>
  scientific name: <%= suggestion.scientificName %><br>
  source: <%= suggestion.taxa_dataset.name %><br>
  status: <%= suggestion.taxonomicStatus %><br>

  <%= simple_form_for @taxon, url: admin_labwork_normalize_taxon_path, method: :put do |f| %>
    <%= f.hidden_field :taxonID, value: suggestion.taxonID  %>
    <%= f.submit 'Use this taxon' %>
  <% end %>
</p>
<hr>
