<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <a href="/">
          <%
            custom_logo = yield :logo
            logo = custom_logo.present? ? custom_logo : 'logo_uc.png'
          %>
          <%= image_tag logo, id: 'logo'%>
        </a>
      </div>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li role="presentation" class="dropdown <%= 'active' if about_active? %>">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            About <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% PagesHelper.about_links.each do |page| %>
              <li><%= link_to page[:title], page[:slug] %></li>
            <% end %>
            <li><a href="http://www.ucedna.com/whos-on-the-team/">Meet the Team</a>
            <li role="separator" class="divider"></li>
            <li><a href="http://www.ucedna.com/blog">News</a>
            <li><%= nav_link "Upcoming Events", events_path %></li>
          </ul>
        </li>

        <li role="presentation" class="dropdown <%= 'active' if explore_data_active? %>">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Explore Data <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= nav_link 'Samples', samples_path %></li>
            <li><%= nav_link 'Identified Organisms', taxa_path %></li>
            <li><%= nav_link 'Field Data Projects', field_data_projects_path %></li>
            <li><%= nav_link 'Research Projects', research_projects_path %></li>
            <li role="separator" class="divider"></li>
            <% PagesHelper.explore_data.each do |page| %>
              <li><%= link_to page[:title], page[:slug] %></li>
            <% end %>
          </ul>
        </li>

        <li role="presentation" class="dropdown <%= 'active' if get_involved_active? %>">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Get Involved <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% PagesHelper.get_involved_links.each do |page| %>
              <li><%= link_to page[:title], page[:slug] %></li>
            <% end %>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <% if current_user %>
          <li><%= link_to current_user.username, profile_path %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
