<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand sm-12">
        <a href="https://www.ucedna.com/">
          <%= image_tag 'logo_v2.png', id: 'logo' %>
        </a>
      </div>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li role="presentation" class="dropdown <%= 'active' if about_active? %>">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <ul class="dropdown-menu">
            <li><a href="https://www.ucedna.com/our-mission/">Our Mission</a></li>
            <li><a href="https://www.ucedna.com/why-protect-biodiversity/">Why Protect Biodiversity?</a></li>
            <li><a href="https://www.ucedna.com/frequently-asked-questions">FAQ</a></li>
            <li><a href="https://www.ucedna.com/meet-the-team/">Meet the Team</a></li>
            <li><a href="https://www.ucedna.com/contact/">Contact Us</a></li>
          </ul>
        </li>

        <li role="presentation" class="dropdown <%= 'active' if explore_data_active? %>">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Explore Data
          </a>
          <ul class="dropdown-menu">
            <%= nav_link 'Sites', samples_path %>
            <%= nav_link 'Identified Organisms', taxa_path %>
            <%= nav_link 'Field Projects', field_projects_path %>
            <%= nav_link 'Research Projects', research_projects_path %>
            <li><a href="https://www.ucedna.com/how-are-samples-analyzed/">How are Samples Analyzed?</a></li>
            <li><a href="https://www.ucedna.com/disclaimer/">Disclaimer</a></li>
          </ul>
        </li>

        <li role="presentation" class="dropdown <%= 'active' if get_involved_active? %>">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Get Involved
          </a>
          <ul class="dropdown-menu">
            <li><a href="https://www.ucedna.com/become-a-community-scientist/">Become a CALeDNA Community Scientist</a></li>
            <li><a href="https://www.ucedna.com/methods-for-researchers/">Methods for Researchers</a></li>
            <li><a href="https://www.ucedna.com/education/">Education</a></li>
            <li><%= nav_link "Events", events_path %></li>
          </ul>
        </li>

        <li role="presentation" class="dropdown <%= 'active' if news_active? %>">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            News and Outputs
          </a>
          <ul class="dropdown-menu">
            <li><a href="https://www.ucedna.com/blog">News</a></li>
            <li><a href="https://caledna.substack.com">Newsletter</a></li>
            <li><a href="https://ucedna.com/media">Media</a></li>
            <li><a href="https://ucedna.com/publications">Publications</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <% if current_user %>

          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_user.username %>
            </a>
            <ul class="dropdown-menu">
              <%= nav_link "Profile", profile_path %>
              <%= nav_link "Settings", edit_user_registration_path %>
            </ul>
          </li>

          <li><%= link_to 'Sign Out', destroy_user_session_path %></li>
        <% else %>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
