<fieldset class="border">
  <legend class="border">Optional Demographics Info</legend>
  <p>
    Help us get to know our participants. Demographic information helps
    us improve the Protecting Our River/CALeDNA program. The demographics information will not be published
    on the site.
  </p>

  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :age %>
  <%= f.input :gender_cd, as: :radio_buttons, collection: User.genders.values %>
  <%= f.input :education_cd, as: :radio_buttons, collection: User.educations.values %>
  <%= f.input :ethnicity, as: :radio_buttons, collection: User::ETHNICITY %>
  <%= f.input :other, label: false, input_html: { id: :user_ethnicity_other_input } %>
  <%= f.input :conservation_experience, as: :radio_buttons %>
  <%= f.input :dna_experience, as: :radio_buttons %>
  <%= f.input :work_info, :input_html => {rows: 5} %>
  <%= f.input :time_outdoors_cd, as: :radio_buttons, collection: User.time_outdoors.values %>
  <%= f.input :occupation %>
  <%= f.input :science_career_goals, :input_html => {rows: 5} %>
  <%= f.input :environmental_career_goals, :input_html => {rows: 5} %>
  <%= f.input :uc_affiliation, as: :radio_buttons %>
  <%= f.input :uc_campus %>
  <%= f.input :caledna_source, as: :radio_buttons, collection: User::CALEDNA_SOURCE %>
  <%= f.input :other, label: false, input_html: { id: :user_caledna_source_other_input } %>
</fieldset>
