<div class="col-md-8 col-md-offset-2 ">
  <h1>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <fieldset class="border">
        <legend class="border">Required Profile Info</legend>
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :username, required: true %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>
      </fieldset>
      <%= render partial: 'demographics_fields', locals: { f: f} %>

      <p>
        By clicking this box you give your consent to share this information with the
        UC Conservation Genomics Consortium (UCCGC) community science project managers.
      </p>
      <%= f.input :agree %>

      <p>
        UCCGC can send me emails about CALeDNA news and updates.
      </p>
      <%= f.input :can_contact, required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
    </div>
  <% end %>

</div>

<script>
  (function() {
    const customOtherValue = (selectorID) => {
      const radioEl = document.querySelector(selectorID)
      const textInputEl = document.querySelector(`${selectorID}_input`)
      textInputEl.addEventListener('keyup', (e) => {
        if(radioEl.checked) {
          radioEl.value = e.target.value
        }
      })
    }

    customOtherValue('#user_caledna_source_other')
    customOtherValue('#user_ethnicity_other')

  })()

</script>
